[2015-04-23 17:55] chris-rock opened #2 "Running test-kitchen fails"
I receive the following error during test-kitchen run:
[code]

[2015-04-23 18:11] #2 closed

[2015-04-27 20:12] chris-rock opened #6 "Use handler for sshd restart"
we should use a handler for https://github.com/hardening-io/ansible-ssh-hardening/blob/master/roles/ansible-ssh-hardening/tasks/main.yml#L11

More information is available here: http://docs.ansible.com/playbooks_intro.html#handlers-running-operations-on-change

[2015-04-27 20:14] chris-rock opened #7 "add travis test for ubuntu 12.04"
See http://renemoser.net/blog/2014/01/01/test-ansible-roles-with-travis-ci/

[2015-04-28 14:52] #6 closed

[2015-04-28 14:52] #7 closed

[2015-07-26 01:54] elyscape opened #23 "UsePAM should probably default to yes on Red Hat Linux 7"
From the `sshd_config` file on a CentOS 7 box:
[code]
As such, it's probably a good idea to default `ssh_use_pam` to `true` on RedHat 7.

This warning isn't in the CentOS 6 `sshd_config` file, but there is [an article in the Red Hat 6 knowledgebase about not being able to SSH into a system if UsePAM is off and SELinux is on](https://access.redhat.com/solutions/46137).  I don't have an account and

[2015-07-30 19:24] ypid opened #28 "Applied-Crypto-Hardening project and new cyphers."
Do you know the Applied-Crypto-Hardening project?

One thing I noticed is that this role actually disables strong cyphers like aes256-gcm@openssh.com which are available in newer versions.

https://github.com/BetterCrypto/Applied-Crypto-Hardening/tree/master/src/configuration/SSH/OpenSSH

[2015-07-31 10:27] rndmh3ro commented on #28
Thanks @ypid, I didn't know this project before.
I actually tried to compare it for all used algorithms.

Applied crypto hardening (ahc) uses different algorithms, depending on the openSSH-version in use:

6.0
[code]
6.5
[code]
6.6
[code]

Here's what we are using:

OS | openSSH version | Ciphers | MACS | KEXS
-------- | -------- | ------- | -------- | -------
hardening.io Ubuntu 14.04. | OpenSSH_

[2015-08-08 13:57] basti1253 opened #33 "ssh_ports - individual client/server config"
Hi there,

first of all thank you very much for your ansible role.

May I suggest splitting the variable ssh_ports into 2 separate variables to distinguish client/server ports individually? In my use case I don't want sshd accessible on port 22, but I don't want to change ssh client-config.

cheers

Sebastian

[2015-08-08 14:06] rndmh3ro commented on #23
The workaround mentioned by RedHat is:
The workaround would be to create an additional policy that allow sshd to read password file directly

We could create that policy and add it to selinux, when use_pam is off and selinux is on.
Does this happen on all OS's?

@chris-rock What do you think?
Sounds like a good alternative.

[2015-08-08 14:07] rndmh3ro commented on #33
Thanks @basti1253!
Yes, splitting them sounds reasonable, I'll do that.

[2015-08-08 18:36] chris-rock commented on #33
+1

[2015-08-09 10:29] basti1253 commented on #33
thank you very much :+1:

[2015-08-09 19:25] rndmh3ro commented on #23
As per hardening-io/chef-ssh-hardening#96:

- to keep usepam=no and the described selinux idea in this cookbook version
- to go to usepam=yes in the next major version to have consistency, here I would suggest to take the selinux idea and to provide support for usepam=no (to allow transitions and upgrades and not to break it completely)

[2015-08-09 23:19] #33 closed

[2015-08-16 10:12] ypid commented on #28
You might also want to checkout [debops.sshd](https://github.com/debops/ansible-sshd) which I use to configure sshd. The latest update solves this issue by allowing a version specific configuration.

[2015-08-16 13:18] rndmh3ro commented on #28
Refactoring the role to use the ciphers, macs and kexs according to the used openssh-versio seems like a better alternative then using operating-system dependant settings.
I'll refactor this.
Only thing I need are the correct settings we want to use. @arlimus, @chris-rock are the currently used settings still the right ones? People seem to disagree.

[2015-09-22 17:58] #23 closed

[2015-10-27 18:48] ypid opened #43 "Fix directory structure."
See https://github.com/hardening-io/ansible-os-hardening/issues/48

[2015-11-28 16:43] #43 closed

[2015-12-01 08:33] obimod opened #45 "should generate new ssh host key files"
ssh-keygen -t dsa -f /etc/ssh/ssh_host_dsa_key
ssh-keygen -t rsa -f /etc/ssh/ssh_host_rsa_key

[2015-12-01 20:54] rndmh3ro commented on #45
Hey @obimod! Thanks for your contribution.
Do you propose to generate a ssh key every time the role is run?
I know that I personally run the role many times on the same host and I don't know if it would be a good idea to always create a new ssh key.

[2015-12-01 21:33] chris-rock commented on #45
@obimod For chef-ssh-hardening and puppet-ssh-hardening we intentionally decided against generating ssh keys of shipping ssh keys. We observed that different organizations have different processes that cover the deployment of keys. We need to ensure that ssh-hardening works with all approaches. Maybe its best to write your own role for that topic?

[2015-12-07 09:59] obimod commented on #45
Ah yes, this seems reasonable. Thanks for the quick responses.

[2015-12-07 09:59] #45 closed

[2016-01-27 15:11] andrefreitas opened #50 "Install from ansible galaxy missing files (tasks)"
If you install with ansible-galaxy:

    ansible-galaxy install hardening.ssh-hardening

You will see that the tasks folder for example is missing:

[code]

[2016-01-27 16:53] rndmh3ro commented on #50
Hi @andrefreitas, thanks for making us aware of this. The problem is that when using ansible-galaxy, it tries to download version 1.0.0, not 2.0.0, the stable release.
We're going to fix that.

In the meantime you can install the role like this:
`ansible-galaxy install git://github.com/hardening-io/ansible-ssh-hardening`

[2016-01-27 16:56] andrefreitas commented on #50
Hi, thanks for the ack. Yes, I am using that workaround :)

[2016-02-14 15:27] rndmh3ro commented on #50
Version 2.0.0 is on galaxy:
https://galaxy.ansible.com/hardening/ssh-hardening/

[2016-02-14 15:27] #50 closed

[2016-02-23 05:27] conorsch commented on #28
@rndmh3ro Any progress here? I'm noticing that the Debian 8 settings unnecessarily remove ciphers such as `chacha20-poly1305@openssh.com` and the kex algo `curve25519-sha256@libssh.org`, even though the version of sshd supports them.

Note that you can query the supported options directly from ssh, rather than inferring from the version:

[code]

Which might provide a path for better validation of

[2016-02-23 20:46] rndmh3ro commented on #28
Thanks, @conorsch, I didn't know that you could do this with ssh. I'll take a look how this can help us in this role!

[2016-02-26 01:13] conorsch opened #53 "Move cipher/kex/mac vars to defaults"
The `vars/main.yml` lists all whitelisted ciphers, MACs, and key exchange algorithms for sshd. Although the sshd template does a decent job of inferring appropriate settings from the distro and release version, invariably some administers will want to override these settings in typical Ansible fashion. Doing so is currently impossible.

Therefore I propose:

* [x] Folding the contents of `vars/mai

[2016-02-27 18:35] shirokatze opened #54 "Fail at TASK [remove selinux-policy when Pam is used...] when ssh_use_pam: true"
[code]

If ssh_use_pam: true, ssh_password selinux policy doesn't get installed. `semodule -r ssh_password` will then fail.

[2016-02-27 18:36] #54 closed

[2016-02-27 21:28] shirokatze opened #55 "sftp_enabled: false will break Ansible's template module"
The Ansible's template module relies on sftp to work. I wanted to suggest to set `sftp_enabled: true` as default, but that would go against the point of the playbook.
Maybe add a little warning to the user?
And maybe a way to not depend on the template module if sftp is disabled. This will help if the user decides to re-enable sftp or update the sshd_config

[2016-02-27 22:21] conorsch commented on #55
@shirokatze Add `scp_if_ssh = True` to your `ansible.cfg`, under `[defaults]`. Then the role will work with the default settings.

[2016-03-09 17:29] shirokatze commented on #55
Still having the issue. Probably related to https://github.com/ansible/ansible/issues/14668

[2016-03-09 19:47] rndmh3ro commented on #55
Since this does seem to be a bug with Ansible and you added the configuration options to the readme, can we close this issue?

[2016-03-10 00:31] shirokatze commented on #55
I was wondering if we should at least add `scp_if_ssh = True` to the readme?
if @conorsch haven't chimed in, I'd prolly still be clueless for a while

[2016-03-10 10:25] fitz123 commented on #55
I even don't remember time when Ansible works for me without `scp_if_ssh = True`
What kind of error shows up when `sftp_enabled: true`?

[2016-03-14 03:13] conorsch opened #61 "Running the tests locally"
Perhaps I'm missing something obvious, but I'm unable to run the inspec test suites locally with virtualbox hosts. Creating and converging is fine, but the inspec tests are skipped altogether:

[code]

This is likely a regression introduced by #56, since the integration suites are no longer called "default". Changing the test dir seems to fix it:

[code]

Possible solutions are renaming the inspec

[2016-03-14 17:18] rndmh3ro commented on #61
Thanks for the bug report!
I don't like renaming the inspec-test directory either.
Do you know of any way to add the path as a `verifier`-parameter?
Otherwise I'll create a feature request on the kitchen-inspec verifier.

[2016-03-15 07:22] conorsch commented on #61
Drat, I was hoping you did! After two brief forays into the kitchen-inspec source, I'm confident it's not supported, and I don't really think it's worthwhile to submit a change to core if we can work around it.

Therefore we're left with the rather kludgy solution of committing symlinks to version control: https://github.com/hardening-io/tests-ssh-hardening/pull/55

Looks like I was a bit hasty in

[2016-03-15 07:26] conorsch commented on #55
@shirokatze Consider chiming in on https://github.com/ansible/ansible/issues/14668 if you can reliably reproduce—the bug report there is still unconfirmed.

[2016-03-17 19:38] rndmh3ro commented on #61
I don't really like the symlink workaround either so I asked to let the user change the search-path.

[2016-03-17 23:45] chris-rock commented on #61
@conorsch and @rndmh3ro In test-kitchen, the path is always determined by the suite name e.g in your case, the suite name is `ansible_1.9` and `ansible_latest`. Therefore test-kitchen (and this is not restricted to kitchen-inspec) automatically determines the directory with the following pattern: `test/integration/%suitename%`.

The symlink solution is not the right approach going forward, instead

[2016-03-20 08:56] #55 closed

[2016-03-27 22:42] IronicBadger opened #62 "`ssh_server_ports` a bit misleading in the vars section?"
`ssh_ports: ['22']` in the main README did not work to change the SSH port from the default 22 for me. In the end I followed the trail backwards and ended up at `ssh_server_ports: ['1234']` variable.

Is this a mistake? `ssh_ports` vs `ssh_server_ports` and `ssh_client_ports`? I couldn't find anywhere that combined the two?

[2016-04-01 13:32] rndmh3ro commented on #62
The documentation is wrong here. `ssh_server_ports` is for setting the port on which the ssh-server listens to.
`ssh_client_ports` is the port where the ssh-client connects to by default.

I'm going to update the docs, thanks!

[2016-04-01 13:35] #62 closed

[2016-04-24 14:54] #53 closed

[2016-05-19 07:43] berendt opened #63 "Add Xenial / Ubuntu 16.04 LTS to meta/main.yml"
Just tested the role on Ubuntu 16.04 and the role works like expected.

[2016-05-20 11:17] mikerj1 opened #64 "semodule ssh_password error on AWS Centos 7"
Hello - I'm seeing the error below and I'm not sure if I'm doing something wrong or if this is a bug.  The server is the official Centos7 image on AWS.  The error is observed when running ansible-playbook with --check.

Running the following on the server (which appears to be part of the problem) shows no output.
\# semodule -l | grep "ssh_password" | awk '{print $3}'

These are the module names I

[2016-05-20 17:01] rndmh3ro commented on #64
Hi @mikerj1, thanks for bringing this up.
The reason this happens is because in check-mode the following task does not run:
[code]
When this task does not run, the variable `sestatus` does not get registered and the next task fails because `sestatus.rc` does not exist.
When running this task without check-mode this error should not happen.
See [this](https://github.com/ansible/ansible/issues/6108)

[2016-05-20 17:06] mikerj1 commented on #64
Awesome, thanks!  Is it as simple as adding always_run: true to the task?

[2016-05-20 17:07] rndmh3ro commented on #64
Yes and I also add a `failed_when: false` to it so if the task fails, there will be no ugly red error message:

[code]

[2016-05-20 17:12] mikerj1 commented on #64
This looks like it will solve the problem and you've got it staged, so please proceed.  Thanks again.

[2016-06-13 19:40] #64 closed

[2016-07-22 14:35] sseide commented on #28
just a remark - disabling KEX diffie-hellman-group14-sha1 server-side makes it impossible for me to connect to the server with an debian client. The client side settings are the default one from the openssh package (cipher/kex etc. not specified in config file)

client: Debian GNU/Linux 8.5 (jessie) with openssh-client 1:6.7p1-5+deb8u2
server  openssh 6.7 on debian 8 or ubuntu 14.04
Thats probably

[2016-07-22 16:00] chris-rock commented on #28
cc @atomic111

[2016-07-23 19:15] atomic111 commented on #28
@sseide i will take a look and come back to you in the next days

[2016-07-25 17:54] atomic111 commented on #28
@sseide yes we disabled the KEX diffie-hellman-group14-sha1 in the default hardening configuration, but you have still the option to enable the wek Kex with `ssh_server_weak_kex: true`. But i recommend to update the ssh client.

You can find some information about the issue here https://blog.gdssecurity.com/labs/2015/8/3/ssh-weak-diffie-hellman-group-identification-tool.html and http://www.heise.d

[2016-07-26 19:43] #63 closed

[2016-07-27 11:17] atomic111 opened #72 "use new ciphers, kex, macs and privilege separation for redhat family 7 or later"
ciphers: https://github.com/dev-sec/tests-ssh-hardening/blob/master/libraries/ssh_crypto.rb#L27

kex: https://github.com/dev-sec/tests-ssh-hardening/blob/master/libraries/ssh_crypto.rb#L60

macs: https://github.com/dev-sec/tests-ssh-hardening/blob/master/libraries/ssh_crypto.rb#L96

privilege separation: https://github.com/dev-sec/tests-ssh-hardening/blob/master/libraries/ssh_crypto.rb#L134

[2016-07-27 21:00] rndmh3ro commented on #63
Thanks @berendt for the info!

[2016-08-02 21:50] conorsch commented on #28
FWIW, `diffie-hellman-group14-sha1` is still enabled on Debian 8 hosts, both server and client, when the role is run with default settings. No problems here, after testing several machines with Debian on both ends of the connection.

[2016-08-03 16:52] #72 closed

[2016-08-03 16:55] rndmh3ro commented on #61
With merging of #71 locally testing is now fully supported with Ansible 1.9 and Ansible 2 including inspec tests!
If you want to test this @conorsch, you can do so now.

[2016-08-03 19:19] conorsch commented on #61
@rndmh3ro Tested with the VirtualBox backend—works great!

[2016-08-03 19:19] #61 closed

[2016-08-04 14:01] sseide commented on #28
Sorry for the long time. I check again trying to recreate the issue - here is a step-by-step guide to reproduce the "problem" of Debian stable unable to connect after strong crypto applied:

<pre>
ssh-client$  lsb_release -irc
Distributor ID: Debian
Release:        8.5
Codename:       jessie

ssh-clientt$ dpkg -s openssh-server | grep Version
Version: 1:6.7p1-5+deb8u3
ssh-clientt$ dpkg -s openssh-

[2016-08-04 14:05] sseide commented on #28
@conorsch  - do you tested the 3.0 release? This version does not know Debian - it only checks for Ubuntu for strong crypto. Only the latest version from github or the new 3.1 checks for Debian and applies the same settings as for newer Ubuntu versions (without the `diffie-hellman-group14-sha1` algorithm - the one i have problems with).

[2016-08-04 19:26] rndmh3ro commented on #28
That's not entirely true. While there's no separate check for debian 8, the `kex_59_default` as seen [here](https://github.com/dev-sec/ansible-ssh-hardening/blob/3.0.0/templates/opensshd.conf.j2#L110-L111) is still applied.

However I myself just tested Debian 8 with release 3.0 and 3.1 and with the default settings on Docker and vagrant (same box as yours). It worked all the time.
I also tested u

[2016-08-04 19:42] conorsch commented on #28
@sseide Disregard my "testing" mentioned earlier—the Debian clients I used for testing are running Stretch, not Jessie. SSH client version:

[code]

Which is clearly more recent than Jessie:

[code]

I'll try to reproduce your problem with Jessie-to-Jessie connections.

[2016-08-04 19:59] sseide commented on #28
@rndmh3ro
with the "does not know" i just meant it has no special check for that - and yes the default kex_59_default is applied  - but not the more modern kex_66_default as in ubuntu.

Checked the thing on another PC and wasnt able to reproduce there either.
Purged and reinstalled debian packages for openssh and now it is working for me too. Do not know what happend, must have been some not-so-de

[2016-08-04 20:09] conorsch commented on #28
@sseide Roger that, thanks for saving me the time!

[2016-08-05 15:27] rndmh3ro commented on #28
I'm going to close this ticket now.

If anyone thinks, we should use other/more ciphers, please open up a issue here: https://github.com/dev-sec/tests-ssh-hardening, since this is where the ciphers are defined. This ansible role simply adopts them.

[2016-08-05 15:27] #28 closed

[2016-08-30 11:58] bcduggan opened #74 "SELinux-specific task still runs on SELinux-disabled systems"
The last task in tasks/main.yml, "remove selinux-policy when Pam is used, because Allowing sshd to read the shadow file directly is considered a potential security risk (http://danwalsh.livejournal.com/12333.html)" will run on systems with SELinux disabled.

Looks like the when: test only tests the return code of getenforce. Previous tasks in this file test both the getenforce return code and stdo

[2016-08-31 16:58] rndmh3ro commented on #74
It is. When SELinux is not installed, the getenforce task "test to see if selinux is running" will fail and no `sestatus` variable will be set, thus no SELinux task will run.

No, because we want to support environments where SELinux is installed or not installed. If its not installed, the SELinux tasks would fail without the conditions.

So now one could argue that the custom policy should always

[2016-10-10 14:45] romaincabassot opened #75 "Selinux issue"
Hello,
When I have ssh_use_pam=true the role fails on:
[code]
(except if I have run the playbook before withe ssh_use_pam=false).
Maybe you could check if the module is installed before trying to remove it?
Thanks.
PS: the 3.1 release is not on ansible galaxy

[2016-10-10 18:38] rndmh3ro commented on #75
Thanks for this, @romaincabassot.

I'll fix this together with the other issue you created!

[2016-10-11 07:39] romaincabassot opened #76 "CentOS 7 selinux dependencies"
Hello,
When running this role on a CentOS 7 I get the following errors:

[code]

Then I've installed the checkpolicy package and had this error:

[code]
Resolved by installing policycoreutils-python package.
Then the role applied correctly.

Should the ansible role manage its dependencies?
Romain

[2016-10-11 20:11] rndmh3ro commented on #76
Hi Romain,

thanks for bringing this to our attention.
Yes, the role should handle its dependencies.
I'll update the role.

[2016-10-12 13:18] romaincabassot opened #78 "Some tasks are always run even if they are not needed"
Hello,

It's not a major problem but it's usefull to really know what is changed when we execute a playbook and those task always return a 'changed' state:
[code]

It would be nice if they weren't executed if don't needed or don't produce a changed state if not necessary.

Romain

[2016-10-12 15:22] rndmh3ro commented on #78
Hi Romain,

yes, you're right and I already coded it here:
https://github.com/dev-sec/ansible-ssh-hardening/tree/check_selinux_module

I still have to create a PR, though.

[2016-10-24 12:14] #75 closed

[2016-10-24 12:14] #76 closed

[2016-10-24 12:14] #78 closed

[2016-10-24 12:43] rndmh3ro commented on #74
The task now only gets executed when selinux is installed, UsePam is "yes" and the ssh_password module is installed. Now this should work on systems with SELinux installed or not installed.

[2016-10-24 12:43] #74 closed

[2016-11-23 16:09] rndmh3ro opened #82 "Deprecation warning always_run"
always_run is deprecated. Use check_mode = no instead..

[code]

[2017-01-06 14:18] BboyKeen opened #86 "The role fails when conditionally included"
Hi,

I need to use your role only on specific environments so I'm using a when instruction in my role statement in my playbook like below to choose whether or not I want to deploy security rules :
[code]

Then in the task file of my "security" role I use the statements below to include your role
[code]

The problem occurs when I don't want to deploy security rules, i.e when deploy_security_rules =

[2017-01-06 14:22] BboyKeen commented on #86
Sorry guys, I got all mixed up. This one is for the os-hardening repository.

[2017-01-06 14:22] #86 closed

[2017-01-18 15:29] rndmh3ro opened #89 "Avoid small primes for DH and allow rebuild of DH primes"
See https://github.com/dev-sec/chef-ssh-hardening/pull/163 and https://github.com/dev-sec/ssh-baseline/pull/77

[2017-01-21 11:08] lpirl opened #90 "Should compression be opt-in?"
According to [this thread](https://lists.mindrot.org/pipermail/openssh-unix-dev/2014-November/033177.html), compression can be vulnerable to CRIME/BREACH attacks (if the encrypted data carries public data as well).

I am not into crypto but I guess compression should be opt-in, at least, shouldn't it?

[2017-01-22 16:13] rndmh3ro commented on #90
Hi @lpirl, could you please open this issue in the [ssh-baseline](https://github.com/dev-sec/ssh-baseline) repository? The settings made in this role are derived from the tests there and this question is much better placed there.

[2017-01-23 10:17] lpirl commented on #90
Thanks for the hint @rndmh3ro.
This is now dev-sec/ssh-baseline#78

[2017-01-23 10:17] #90 closed

[2017-03-09 20:16] rndmh3ro commented on #89
Fixed by #97

[2017-03-09 20:16] #89 closed

[2017-03-20 10:23] Office-Manager opened #101 "Question --> ssh_allow_users -- Should allow specific logins ?"
Hi ,

First off , thank you for creating this project and making securing the machines that much easier.

I've one issue though. For a single specific machine I'd like to enable normal ssh login for a specific username.
I thought adding that user to the ```ssh_allow_users``` in the defaults would permit it but I'm still seeing the permission denied although I can view the /sshd_config which contai

[2017-03-21 20:45] rndmh3ro commented on #101
Hi,

normally setting this should be enough. However to help you I'd need to see your whole `sshd_config` and the output in the log, `/var/log/auth.log` or `/var/log/secure` depending on your operating system.

[2017-03-22 11:18] Office-Manager commented on #101
Hey @rndmh3ro thanks for the reply. Sorry for the delay but needed access to the machine to get the information for you

Here is the sshd_config file [https://gist.github.com/Office-Manager/f751e8cd287edcb8b195c1cb96b61812]( sshd_config file)

Also here's the logs from the server once sshd was restarted.
[https://gist.github.com/Office-Manager/01b5b70ce6b7d2fef823d1eb4b0dfa0d]( var/log/secure and

[2017-03-22 19:33] rndmh3ro commented on #101
Well it says `failed publickey for efthruser`. Did you use the correct one? Are the permissions of `/home/efthruser/.ssh` correct?
Did you try it with another user?

[2017-03-22 19:57] Office-Manager commented on #101
So the permissions for .ssh and the files within are correct, however I was hoping I'd be able to delete any authorized keys .... I was hoping if the user was listed it would allow them to enter a password and not require a ssh key for access.

[2017-03-22 20:05] rndmh3ro commented on #101
The key has to be authorized, otherwise it won't work. These are two layers of security, the authorized key and the sshd_config.
Password auth is disabled in the sshd_config.

[2017-03-22 20:14] Office-Manager commented on #101
ahh I'm such a numpty ,

``` PasswordAuthentication no ``` is what i need to change instead of  ``` UseLogin yes```

[2017-03-22 21:11] #101 closed

[2017-03-22 21:22] rndmh3ro commented on #101
Glad you got it working!

[2017-04-03 14:28] axensec opened #103 "ssh_password is never installed"
I tried to find info about the selinux module `ssh_password` (https://www.google.com/search?q="ssh_password"+selinux) and I didn't find anything unrelated to this ansible role, so I'm assuming is a custom module and the definition of it is the file: https://github.com/dev-sec/ansible-ssh-hardening/blob/master/files/ssh_password

What I don't understand is that in the role, the first mention to it

[2017-04-21 16:02] rndmh3ro commented on #103
You're right, `ssh_password` is a custom module.

Here it is checked, if the module is already installed.
[code]
The variable `ssh_password_module` is registered and contains `ssh_password` if the module is already installed, otherwise the variable is empty.

The variable then gets used in this block here:
[code]

[2017-04-21 19:27] axensec commented on #103
My question is, where is that module installed? Should the role install it if its not installed? I don't see any task copying the `ssh_password` file to the host or something similar.
Hope I made my concern clear.

[2017-04-22 10:59] rndmh3ro commented on #103
Here gets the file copied and the policy compiled:
https://github.com/dev-sec/ansible-ssh-hardening/blob/master/tasks/main.yml#L87-L100

[2017-04-22 17:32] colin-nolan opened #104 "`create ssh_config and set permissions to root/644` step repeated"
The `create ssh_config and set permissions to root/644` step is done twice (the second time the ower and group are both hardcoded to `root`): https://github.com/dev-sec/ansible-ssh-hardening/blob/00aa9eaa0d7a7956c5cc7924c5815747ddfdd470/tasks/main.yml#L35-L41a

[2017-04-22 17:55] #104 closed

[2017-04-22 18:43] colin-nolan opened #106 "Provide option to allow password server login"
Currently, password based authentication is disabled with no setting to enable it:
https://github.com/dev-sec/ansible-ssh-hardening/blob/master/templates/opensshd.conf.j2#L133-L134

It would be nice if there was a `ssh_server_password_login` setting (which could default to `false`).

[2017-04-22 18:51] colin-nolan commented on #106
WIP.

[2017-04-22 18:52] rndmh3ro commented on #106
Should be in the style like the other yes/no variables, see for example: https://github.com/dev-sec/ansible-ssh-hardening/blob/master/templates/opensshd.conf.j2#L131
[code]

[2017-04-22 23:15] #103 closed

[2017-04-23 10:39] #82 closed

[2017-04-23 10:42] #106 closed

[2017-05-01 16:48] rndmh3ro opened #110 "Update readme to include baselines"

[2017-05-04 07:18] aerowork opened #111 "fails in --check mode"
Hi and thanks for projects.

Running playbook with --check option was failed after update from 3.2 to 4.0 on task "dev-sec.ssh-hardening : set hostkeys according to openssh-version".

Adding "check_mode: no" to this task will fix this issue.

[2017-05-04 18:20] rndmh3ro commented on #111
Thanks for the report @aerowork. Do you want to create a PR to fix this?

[2017-05-23 18:12] haf opened #114 "User login failed after running this module"
Problem: this module stops one new user from logging in, but not the default `ubuntu` vagrant user.

I've set up the user/playbook like so:

[code]

If I comment in this module in the above playbook, I get this error in `/var/log/auth.log`:

[code]

It's running on xenial64, the 16.04 LTS of Ubuntu.

Provisioning the node without this module makes it possible access both SSH and SFTP with the newl

[2017-05-25 18:51] artemnikitin opened #115 "Can't connect to server by SSH after applying this role"
I tried to apply the role to a server and after successful applying, I can't connect to a server by SSH. I read the FAQ and tried to change different settings, but it doesn't help. Server using Ubuntu 16.04.

SSH client log:
[code]

[2017-05-28 16:23] rndmh3ro commented on #114
I'm failing in reproducing your example code because the `users_and_groups` module failed for me at two different spots.

The hardening module sets the following:
[code]

Can you set that to 10 and see if it fixes your problem? This seems to be a problem with the authentication.

[2017-05-28 16:32] rndmh3ro commented on #110
Fixed: https://github.com/dev-sec/ansible-ssh-hardening/commit/dfcade9159ce18caf161f453142467a8cad3ee34

[2017-05-28 16:32] #110 closed

[2017-05-29 09:25] haf commented on #114
Hello, I believe I tried that, but I can't be sure I set `-o IdentityFile=myuser`, but I'm sorry to say that I rewrote this module myself from scratch while waiting for a reply and then it works.

I'll leave up to you to choose what to do with this issue, to close or to keep. I'm fine with both, but I won't participate with this module any more. I still use your os hardening though.

[2017-05-29 16:08] rndmh3ro commented on #114
Since I cannot reproduce the bug, I'll close it. If someone else ahs this bug I'll reopen it.
Thanks for bringing it to our attention though!

[2017-05-29 16:08] #114 closed

[2017-05-31 18:03] #111 closed

[2017-06-20 15:03] CafeLungo commented on #115
I believe I am running into this same problem. Version 4.0.0 and 4.1.2.

[2017-06-20 16:04] rndmh3ro commented on #115
Thanks for mentioning this @CafeLungo!
Can you give us your complete playbook (and roles) so I can try to reproduce the issue? Also the name of the operating system, please. :)

[2017-06-20 16:08] StefanoAgazzi commented on #115
I remember I had to add the user to a group called sshuser or sshusers,
cannot remember exactly the group name sorry

On Tue, Jun 20, 2017, 18:04 Sebastian Gumprich <notifications@github.com>
wrote:

[2017-06-22 22:41] thbar commented on #115
FWIW I think I had a similar error message because the user password wasn't defined. Setting a password fixed the error. It may be completely different but in case!

[2017-06-23 13:12] CafeLungo commented on #115
@rndmh3ro FYI, I was working last night trying to come up with a minimal playbook to produce this issue. I investigated what @thbar suggested, deleting user password, but that didn't seem to do it either. Is deleting different from not defining one somehow? I was doing `passwd -d ubuntu`.

I do know, I haven't seen this with Vagrant ubuntu boxes (yet). But, I first saw this when deploying/provisio

[2017-07-16 20:37] todd-dsm opened #124 "role creates duplicate parameter/values after run"
Hey guys, I've just run this issue with a very basic configuration and found duplicates in `/etc/ssh/sshd_config` afterwards. The relevant details:

#### The OS:

[code]

#### The configuration:

[code]

#### Duplicates

[code]

## Workaround
As I intend to use sftp early in the process, I've commented the duplicate parameters outside of the `if sftp_enabled` block.

[code]

_This is gross but it

[2017-07-17 06:41] rndmh3ro commented on #124
Hey @todd-dsm,

that's expected id sftp is enabled. The duplicate parameters [here](https://github.com/dev-sec/ansible-ssh-hardening/blob/master/templates/opensshd.conf.j2#L221-L228) only match the group `sftponly`. They can differ from the default values so should be separate (and thus duplicate).
If sftp is disabled, there should be no duplicate parameters.

Your workaround is potentially insecu

[2017-07-17 18:32] todd-dsm commented on #124
Thanks for the update. I'll dig into it.

[2017-08-04 22:44] jschmoelz commented on #115
@thbar Setting a password for my SSH user resolved the issue for me. Thank you very much.

[2017-08-08 18:20] rndmh3ro commented on #124
I'm closing this, since there's no error here. Feel free to reopen if you still have problems!

[2017-08-08 18:20] #124 closed

[2017-08-08 21:58] alexlawrence opened #126 "System completely unresponsive after role execution"
The role/playbook executes without any sign of error.

However after the execution the remote system behaves as follows:
- it is not possible login via SSH (timeout).
- ping requests produce timeouts
- custom services (e.g. NodeJS apps behind nginx) seem to load but run into timeouts
Overall it seems that system is not able to process any incoming requests.

I could only make the server respond to

[2017-08-09 08:27] alexlawrence commented on #126
Update: After completely reinstalling openssh the system is responsive again. Unfortunately, I have no idea what the problem was.

[2017-08-09 18:56] rndmh3ro commented on #126
Hey @alexlawrence,

thanks for reporting this. Is this maybe the same problem as described [here](https://github.com/dev-sec/ansible-ssh-hardening/issues/115)?

To further debug this, can you please provide the operating system used and the complete playbook you ran?

[2017-08-09 20:08] martinbydefault opened #127 "Changes in selinux section to avoid confusion and some inconsistencies"
It would be great to made some small changes in the selinux section of this role to avoid confusion, as discussed in this PR: https://github.com/dev-sec/ansible-ssh-hardening/pull/102
The two changes I think should be made are:
* change the title of this task (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/tasks/main.yml#L57) to `test to see if selinux is installed and running`
* rep

[2017-08-09 20:24] alexlawrence commented on #126
Hey @rndmh3ro,

thanks for the feedback.

After some investigation I assume that this issue is related to https://github.com/dev-sec/ansible-os-hardening
That is why I will close this issue here and open a new one for the other project.

Sorry for the confusion.

[2017-08-09 20:24] #126 closed

[2017-08-09 23:43] todd-dsm commented on #124
totally, sorry that took so long.

[2017-08-13 16:48] MagnusEnger opened #129 "ssh_use_dns used twice in defaults/main.yml"
Thanks for your great work!

I noticed a minor issue in defaults/main.yml:

[WARNING]: While constructing a mapping from /home/me/ansible-priv/provisioning/roles/dev-sec.ssh-hardening/defaults/main.yml, line 2, column 1, found a duplicate dict key (ssh_use_dns). Using last defined value only.

ssh_use_dns is indeed defined on both line 8 and 179 of defaults/main.yml

Too much of a n00b to tell if

[2017-08-13 18:12] rndmh3ro commented on #129
Thanks for finding this! must have been added in one of the last PRs.

Do you want to open a PR and remove the last one?

[2017-08-14 15:21] #129 closed

[2017-09-14 15:53] Rockstar04 commented on #115
I'm running into this as well. I've just set `ssh_client_hardening` and `ssh_server_hardening` both to false for now, after resetting my ssh(d)_config files to Ubuntu default to get me through deploying my dev servers. I'll try to circle back.

[2017-09-14 17:34] rndmh3ro commented on #115
@Rockstar04, do you also use AWS EC2 Ubuntu 16.04 instances?

[2017-09-14 19:13] Rockstar04 commented on #115
Not on EC2, but its a 16.04.3 VM I installed this morning. Its KVM virt on Proxmox.

```OpenSSH_7.2p2 Ubuntu-4ubuntu2.2, OpenSSL 1.0.2g  1 Mar 2016```

[2017-10-01 15:07] rndmh3ro commented on #127
good idea!

 with # only runs when selinux is installed

Yes, also a good idea.

It says that "only runs when selinux is in state enforcing", but the conditional is sestatus.stdout != 'Disabled', so the task could also be executed when selinux is in Permissive mode.
Does the task can be also executed in Permissive mode or is this an error?

This task also gets executed in Permissive Mode, so the c

[2017-10-03 00:42] martinbydefault commented on #127
I agree with all of that, check the PR https://github.com/dev-sec/ansible-ssh-hardening/pull/131

[2017-10-03 12:22] #127 closed

[2017-10-05 19:37] rndmh3ro commented on #115
So I finally got the time to try to reproduce this.
When creating a EC2-instance, the default user is `ubuntu`, so this one has to be include into the AllowedUsers. I'm thinking about doing that by default.
And setting the password for that user then allows him to login.

I'll try to think of something. Maybe a note in the readme?

[2017-10-09 08:15] gtz42 opened #133 "get openssh-version fails on FreeBSD (with ansible 2.4.0.0)"
Running the `get openssh-version` task fails on FreeBSD

    TASK [dev-sec.ssh-hardening : get openssh-version] ************************************************************************************************************
    fatal: [template201709]: FAILED! => {"changed": false, "cmd": "ssh -V 2>&1 | sed -r 's/.*_([0-9]*\\.[0-9]).*/\\1/g'", "delta": "0:00:00.061695", "end": "2017-10-09 08:25:00.29

[2017-10-12 08:52] snakelab opened #135 "line 56: Bad SSH2 mac spec"
Distributor ID:	Debian
Description:	Debian GNU/Linux 8.7 (jessie)
Release:	8.7
Codename:	jessie

I get the following error at running this role:
[code]

Any hint on this?

thanks

[2017-10-16 07:36] snakelab commented on #135
ping

[2017-10-17 14:31] rndmh3ro commented on #135
Never heard of this before.
Travis says its fine: https://travis-ci.org/dev-sec/ansible-ssh-hardening/jobs/289021694

I'll have to take a closer look.

Can you try to single out which mac is "bad" by removing them here: https://github.com/dev-sec/ansible-ssh-hardening/blob/master/defaults/main.yml ?

[2017-10-17 14:33] #133 closed

[2017-10-24 12:53] HaleTom commented on #135
https://www.openssh.com/txt/release-7.6

[2017-10-27 04:27] kekumu opened #137 "sftp Match Group settings overriding global sshd_config settings"
https://github.com/dev-sec/ansible-ssh-hardening/blob/f9b0c2e98b45d1c100ece41a0a2d68f94b4d8175/templates/opensshd.conf.j2#L240-L247

Lines 241-247 should be indented in order to apply to only the Match Group. Right now they are overriding the global settings higher up in the config file.

[2017-10-27 17:38] rndmh3ro commented on #137
Just as I said in the PR, indentation is **not** required here.
The manpage for `sshd_config` describes this better than I could:

[2017-10-27 17:38] #137 closed

[2017-10-27 18:42] kekumu commented on #137
Thanks for the clarification.

[2017-10-29 16:31] rndmh3ro commented on #135
That seems to explain it, yes.
As a workaround, delete the MACs https://github.com/dev-sec/ansible-ssh-hardening/blob/master/defaults/main.yml#L141 and https://github.com/dev-sec/ansible-ssh-hardening/blob/master/defaults/main.yml#L145 or overwrite the list.

For fixing this, that's another, slightly bigger problem. Right now we're setting the MACs, Ciphers and KEX according to the operation syste

[2017-11-02 16:27] gruzewski commented on #115
I hit the same problem with Ubuntu 16.04 on AWS. In my case, enabling PAM module (`UsePAM yes`) in `sshd_config` solved the problem for me. You can workaround it in the dev-sec role with setting  `ssh_use_pam: true`.

Example:
[code]

I might look into it at some point, if time allows. Btw, great project!

[2017-11-06 13:52] bachp opened #140 "UseLogin is deprecated on CentOS 7"
On CentOS 7 the option `UseLogin no` produces the following depecation warning on each ssh login:

[code]

[2017-11-09 03:42] MikeSchroll opened #142 "coreos support?"
Curious whether there's any interest in supporting coreos?

[2017-11-20 12:43] #140 closed

[2017-11-23 21:50] francoisbeaulieu commented on #135
One particularity that I noticed, at least on MacOS is that it complains even if the offending MAC entry is for a different host definition in ssh_config than the one git is currently connecting to. Seems the test is a little too loose in detecting the line in the config file.

[2017-12-23 16:54] #142 closed

[2017-12-23 16:54] rndmh3ro commented on #142
Closing this for now. If you still want to give this a try, just reopen the issue.

[2017-12-29 09:41] #135 closed

[2017-12-29 22:51] gruzewski opened #143 "Root permissions required for ssh_config and sshd_config files"
Hi

To update ssh/sshd config you need to have root permissions. Previously I was using `sudo: true` in my playbook. According to Ansible, it will be removed in 2.6.

Without `sudo` I am getting below error:

I have created a small PR -> https://github.com/dev-sec/ansible-ssh-hardening/pull/144

[2018-01-03 19:47] rndmh3ro commented on #143
I'm against setting this. I think this belongs into the playbook:
[code]

Yes, you're right, the setting is generally needed. But then again, the setting is needed for other tasks inside the playbook, too. So then it should be set on all tasks. Then one can set it at the playbook level.

Do you agree on this?

[2018-01-16 13:22] gruzewski commented on #143
@rndmh3ro Yes and no :) Placing `become` on the playbook level would be more visible for an user but then it will enforce every single task to be run with superuser permission even though it doesn't need it ([Least privilege principle](https://en.wikipedia.org/wiki/Principle_of_least_privilege)). However I can see that majority of tasks require `sudo` and it will be more visible for users so I agr

[2018-01-16 13:22] #143 closed

[2018-03-06 09:48] ageis opened #151 "Options not compatible with OpenSSH server 7.6"
[code]
Sandboxing is now enabled by default in OpenSSH, across all platforms/distros. See the changelog.

Likewise, these two options for the **client** config are not understood in recent versions of OpenSSH

[code]

@chris-rock, @atomic111 @mms-segu you guys still interested in maintaining this stuff? I will join and help out.

[2018-03-06 10:02] rndmh3ro commented on #151
Hey @ageis, of course we're still maintaining this. :)

There are now several options in recent OpenSSH-versions that are deprecated or removed entirely. I guess we should change the template for these options so depending on the version of OpenSSH they're included or not, e.g. like this.
[code]

What do you think? Do you want to implement this?

[2018-03-06 15:39] ageis commented on #151
Here's another one that is deprecated in the client: `UseRoaming`.

I do actively use these roles and would love to implement but it will be a couple days before I can send you a PR.

[2018-03-19 07:08] mwakerman commented on #115
@gruzewski's solution worked for us, would be great if this could be added to the docs, lost most of a day trying to working through this.

[2018-04-04 21:52] jcheroske opened #155 "GlobalKnownHostsFile missing from ssh_config"
It would be great if this role took in a list variable containing host keys and constructed the /etc/ssh/known_hosts file. The GlobalKnownHostsFile configuration parameter would also need to be set in ssh_config.

Thank you for an awesome tool!

[2018-04-09 13:41] rndmh3ro commented on #155
Hey @jcheroske,

do you want to work on this? It should work something like this:

[code]

[2018-04-17 08:02] gdelafond opened #158 "Travis & Debian 9 "Stretch""
Hello,

Debian9 (stretch) is disabled on travis check (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.travis.yml#L41).
Is there any reason to not activate it ?

Thank you.

[2018-04-17 12:57] rndmh3ro commented on #158
The reason is because Debian 9 is not working on travis. However I don't know the reason anymore.

If you want to, you can try to fix the errors.

[2018-04-18 18:50] wilkis3 opened #159 "opensshd.conf.j2 template type error"
[code]
Copy module works.

[2018-04-18 18:53] rndmh3ro commented on #159
Hey @wilkis3,

can you please share:
- the playbook you're using
- the whole error message
- the target operating system
- the ansible version
- the ssh-hardening version

Then I can better debug your issue!

Thanks!

[2018-04-20 02:52] ageis commented on #159
Similar error on the same task. I think this came in with an Ansible update...

[code]

[2018-04-20 03:36] ageis commented on #159
Hey @wilkis3, check the value of `ssh_server_ports`. It's supposed to be a list. A lot of people have it as an integer, but this changed in version 4.0.0 of the role.

[2018-04-20 19:03] #151 closed

[2018-04-20 20:43] rndmh3ro opened #161 "Include new baseline-tests"
There are new baseline-tests [here](https://github.com/dev-sec/ssh-baseline) that have to be included in travis!

[2018-04-26 13:02] thbar opened #165 "Is SFTP supported or not supported?"
Hello!

First thanks for your great role, which I'm happy to use 😄

I have a setup hardened with this role where I also need to add some form of SFTP access, and I'm confused a bit and unsure if it's supported or not.

In the [FAQ](https://github.com/dev-sec/ansible-ssh-hardening#faq--pitfalls), one can read:

But at the same time, there is an option to enable SFTP:

Can you clarify if SFTP is sup

[2018-04-26 14:46] rndmh3ro commented on #165
Yes, SFTP is supported. But disabled by default.

If you need it, you can use the option you already found to enable it. I'll update the readme to clarify!

[2018-04-26 15:28] thbar commented on #165
Thanks for the clarification!

[2018-05-23 15:00] OpenSourceZombie opened #167 "ssh_server_weak_kex variable is not used any where"
The variable ssh_server_weak_kex is not used any where and has no affect on this role

[2018-05-23 20:14] rndmh3ro commented on #167
Hey @OpenSourceZombie,

sadly we're aware of this, see this comment: https://github.com/dev-sec/ansible-ssh-hardening/pull/153#issuecomment-383202897

Basically I want to refactor the whole configuration for macs, keys and ciphers. Since there's already an open PR for this, I'll close this issue.

Thanks!

[2018-05-23 20:14] #167 closed

[2018-05-31 13:07] alejandroortuno opened #169 "MaxAuthTries value creating a lock down situation"
The current value of the MaxAuthTries is equal 2 and in some situations where client has multiple keys, this limit can be reached even before the right private key is picked up in the client, locking down the user.

Further explanation of the problem in here: https://serverfault.com/questions/879778/ssh-logs-i-dont-understand-maximum-authentication-attempts-exceeded

Increasing the default value o

[2018-05-31 14:06] rndmh3ro commented on #169
Hey @alejandroortuno,
STIG recommends the limit set to 3 or lower. So our current setting reflects that pretty good.

I'd suggest you simply override this variable if you need to!

[2018-05-31 14:06] #169 closed

[2018-06-12 17:20] Punkado opened #170 "Google 2fa authentication problem"
Hey,

The role doesn't work if you enable the ssh_google_auth, stops in the task:

TASK [dev-sec.ssh-hardening : create sshd_config and set permissions to root/600] **********************************************************************************************************************************************************************************************************
fatal: [lab]: FAILED! => {"chang

[2018-06-29 17:50] rndmh3ro commented on #159
No response anymore..

[2018-06-29 17:50] #159 closed

[2018-07-02 12:00] rndmh3ro commented on #158
Fixed by #173

[2018-07-02 12:00] #158 closed

[2018-07-10 14:44] gdelafond opened #174 "Weak kex are controlled by wrong variable ?"
https://github.com/dev-sec/ansible-ssh-hardening/blob/e6d79fa3fb6d10627479641e99c596b09dd43616/tasks/crypto.yml#L79-L92

I think there is a problem here: weak kex should be controlled by `ssh_server_weak_kex` and not `ssh_server_weak_hmac`.

[2018-07-12 14:46] kiwivogel commented on #137
Question: Does this block need to be here in the first place as these are mostly covered in the global settings mentioned above. Keeping this in breaks the associated inspec ssh-baseline tests because of duplicate values.

[2018-07-12 15:45] rndmh3ro commented on #137
With this block you can enable sftp and set different options for it than in the global settings so yes, this block has a right to exist. :)

I guess the inspec tests fail, because you have sftp enabled?

[2018-07-12 16:21] #161 closed

[2018-07-13 10:48] kiwivogel commented on #137
Yeah, somehow ansible refuses to pick up `scp_if_ssh = True` so I'm stuck on using SFTP. The question was mainly if it's safe to delete these settings (assuming they are duplicates of global settings). The alternative is that I skip them in a child profile and add matchers that are ok with the duplication but that's a bit ugly.

[2018-07-13 12:10] rndmh3ro commented on #137
Yes that should be safe.

[2018-08-02 14:55] varac opened #175 "Allow custom values"
I'd like to include an option that is not supported bu this module to my `ssh_config`, i.e. `Include /etc/ssh/include.d/*`.

I can't find a way to do this.
I propose to introduce an (by default empty) variable, sth like `custom_ssh_options` that will get added to the bottom of `ssh_config`.

[2018-08-02 19:07] rndmh3ro commented on #175
Hi @varac,

having a possibility to include custom ssh-options seems like a good idea.

But I don't want to include another custom option. However I'm open to add the `Include` option into the template.
The value to this option could then be specified in ansible, like this:
`ssh_include_option: "/etc/ssh/include.d"`

What do you think about this?

[2018-08-02 19:52] varac commented on #175
Hmm, I'm afraid I don't understand.

Sounds good!

[2018-08-03 13:53] Normo commented on #175
Hi @rndmh3ro,
I'm also interested in including custom configuration options for sshd, e.g. I would like to overwrite log level setting for ssh daemon.

[2018-08-04 17:35] afeld commented on #169
@danivovich Is this the same problem that https://blog.danivovich.com/2017/08/31/ansible-ssh-hardening-lockout/ is solving?

[2018-08-10 19:02] jcheroske commented on #155
Sorry for the late reply. This feature is no longer a priority for me. I'm going to close this issue.

[2018-08-10 19:02] #155 closed

[2018-08-10 19:32] jcheroske opened #176 "Fixing the broken Ansible dependency mechanism"
The way that role dependencies currently work is that a `<role_root>/meta/main.yml` file is created that lists the role's dependencies. For example, if role A depends on role B, the file might look like:

[code]

Note: The above example fetches the role from GitHub. You can also use Galaxy.

The problem with this "feature" is that it causes role B to be executed before role A is even run. This is

[2018-08-12 18:56] rndmh3ro commented on #176
Hi @jcheroske,

thanks for your suggestion! We already have someting like this in the mysql-hardening-role: https://github.com/dev-sec/ansible-mysql-hardening/blob/master/tasks/main.yml#L13

So I'm open to something like this. How would you implement this?
I think there would be some refactoring needed - I don't want to add this variable to all tasks in the mail.yml

[2018-08-19 11:05] aghamir opened #182 "Ubuntu 18.04 support"
Is there any plan to support ubuntu 18.04?

[2018-08-21 13:02] rndmh3ro commented on #182
Hey @aghamir, yes we definetly want to support 18.04.

Do you want to help work on it?

[2018-08-30 07:59] jamatute opened #183 "Add molecule testing"
[Molecule](https://molecule.readthedocs.io/en/latest/) is a testing framework for Ansible. I've been using for my company for over a year and it has helped us a lot to improve the quality of the code and the speed of the development.

I'd like to add this feature to this repository, but first I wanted to know if you are interested

Cheers

[2018-08-30 17:41] rndmh3ro commented on #183
Hi @jamatute,

Thanks for bringing this up. We already discussed this herehttps://github.com/dev-sec/ansible-os-hardening/issues/128

The reason we do not yet use molecule is that it didn't support inspec, our testing tool. But it seems, inspec is (kind of) supported, now.
So if you want to add it, go ahead! :)

[2018-08-31 09:34] jamatute commented on #183
Hi @rndmh3ro,

Sorry I didn't catch that issue before opening this one (shame on me), the test suite for my company is based on Testinfra so introducing a new framework is not an option :(. I guess the same argument works for you.

I'll make them on Testinfra then, tell me if you want me to contribute anyway to the project, otherwise close the issue.

Thanks!

[2018-09-06 09:00] wilkis3 commented on #159
Thanks, @ageis thats right

[2018-09-16 12:44] rndmh3ro commented on #174
Fixed by #153

[2018-09-16 12:44] #174 closed

[2018-09-20 07:29] rndmh3ro commented on #183
Hey @jamatute,

right now we don't need a second testing framework but thanks anyway! :)

[2018-09-20 07:29] #183 closed

[2018-09-24 11:26] AaronHolbrook opened #184 "Unsupported option "rhostsrsaauthentication" "rsaauthentication""
Using this role on Ubuntu 18.04 throws some messages when attempting to use SSH from inside the box:

[code]

I'm suspecting that this is because openSSH has deprecated those two options and is vocally alerting us to not use them in the future.

[2018-09-25 18:53] rndmh3ro commented on #184
Yeah, Ubuntu 18.04 isn't tested and supported yet. Thanks for noticing!

[2018-10-04 21:36] jcheroske opened #185 "Possible issue with Ansible 2.7 and ssh_hardening_enabled flag"
I just upgraded to 2.7 and I ran into a bug where I needed to explicitly set the `ssh_hardening_enabled` flag to `true` to get the role to run. Previously, even if the role was listed as a dependency and the flag was set to `false`, invoking the role for real without specifying the flag worked correctly. Now however, it seems that the value for the flag from the dependency section is "sticky" and

[2018-10-05 22:13] jcheroske commented on #185
Just FYI: I got so sick and tired of Ansible doing weird stuff with variables that I switch all of my roles over to accepting one variable. This variable is a dict that contains all of the roles variables. I name the top-level dict var something that relates to the role name. Here is an example using this role:
[code]
As you can see, all variables are effectively namespaced under the `ssh_hardenin

[2018-10-15 14:17] rndmh3ro commented on #182
Fixed by #186

[2018-10-15 14:17] #182 closed

[2018-10-23 17:12] Neophy7e commented on #184
@AaronHolbrook @rndmh3ro  If you are using ansible galaxy `requirements.yml` you can try with my PR #187

`requirements.yml`

[code]

Then force reinstall of roles

`ansible-galaxy install --force -r requirements.yml`

The issue seems to always have been there, the way version where compared wasn't correct

[2018-10-29 13:43] kravietz opened #188 "Match Group' in configuration but 'user' not in connection test specification"
**Describe the bug**
The `openssh.conf.j2` validity test fails in OpenSSH 7.7p1 (as distributed with Ubuntu 18.10) because `sshd` requires that specific user name is passed in the test context. I realize 18.10 is not supported officially but still worth keeping it for future reference.

**Expected behavior**
Just add any user to the test using `-C` option:
    sshd -T -C user=someuser

**Actual be

[2018-10-30 06:38] jcheroske opened #189 "Can't connect to new instance created from hardened image"
Not sure I would call this a bug necessarily. I'm really just posting to see if it rings any bells with the ssh experts around here. Here is the situation:

I want to create a cloud disk image based on Ubuntu Minimal 16 that has this role applied, and then use that image to create additional cloud instances. The following works fine:

* Provision cloud VM with Ubuntu Minimal 16
* Apply this role t

[2018-11-02 10:28] ikr0m opened #190 "PermitRootLogin yes"
This repository contains following code in templates/opensshd.conf.j2 file:
[code]
It means it is impossible to write like this:
`PermitRootLogin yes`
It would be nice if we can control it's value. While testing root login is helpful.

[2018-11-06 20:10] rndmh3ro commented on #190
Hi, @ikr0m, we can do this, yes. Do you want to create a PR for this?

[2018-11-06 20:52] straight-shoota commented on #190
Is `PermitRootLogin yes` *ever* a valid option, from a security perspective?

[2018-11-06 21:22] artem-sidorenko commented on #190
@straight-shoota it is, e.g. usage of root login with ssh pubkey authentication only on the systems where you always work as root anyway

[2018-11-06 21:30] straight-shoota commented on #190
Yeah, but that's achieved by `PermitRootLogin without-password`. And even that's questionable.

`PermitRootLogin yes` allows password login. That's never a good idea on a system that is supposed to be security hardened.

[2018-11-07 05:48] #184 closed

[2018-11-08 14:50] MatthiasLohr opened #191 "Question: How to allow RemoteForward"
Hello,

in my client configuration I have a line like
[code]

How do I have to change the variables to get this allowed? When connecting, I always get this warning:
[code]
This warning appeared right after the fast application of this role. I assume i didn't set all the variables right, I tried several times playing with ```ssh_permit_tunnel```, ```ssh_allow_tcp_forwarding``` and ```ssh_gateway_po

[2018-11-08 14:54] MatthiasLohr commented on #175
I also appreciate the idea!

[2018-11-08 20:10] vidkun opened #192 "GSSAPI support broken. Can't be enabled."
**Describe the bug**
Despite the default value of `ssh_gssapi_support` being true and despite explicitly setting it to true in vars, the sshd config still results in `GSSAPIAuthentication no`

**Expected behavior**
I expect `GSSAPIAuthentication yes` to be set in the sshd_config

**Actual behavior**
sshd_config contains `GSSAPIAuthentication no`

**OS / Environment**
RHEL 7.5

**Ansible Version**

[2018-11-09 07:17] rndmh3ro commented on #192
Well, that's a bug. :)
Will have to fix this.

[2018-11-09 17:34] rndmh3ro commented on #175
Sorry for not getting back! @Normo, if you want to, you can implement the custom configuration in the style I mentioned in my https://github.com/dev-sec/ansible-ssh-hardening/issues/175#issuecomment-410035161

[2018-11-09 17:50] rndmh3ro commented on #115
This role does not lock users. What it does is locking-out users  that are not in the allowed users list.

Since this issue got several different topics mixed, I'll close this for now. If there are any problems, please open up a new issue with the provided template! Thanks! :)

[2018-11-09 17:50] #115 closed

[2018-11-09 20:14] artem-sidorenko commented on #175
@rndmh3ro can you please ping me in the PR if this gets implemented? I would like to port it then to chef-ssh-hardening

[2018-11-09 20:14] rndmh3ro commented on #175
@artem-sidorenko will do!

[2018-11-09 21:03] szEvEz commented on #185
Hello!

I am sorry, but I can not reproduce your issue.

I've set the following dependency like you:

[code]
And executed a playbook successfully using

[code]

Running Ansible version

[code]

If the issue still persists for you, could you please elaborate a bit further?

Thanks :)

[2018-11-10 18:44] #192 closed

[2018-11-15 11:21] MatthiasLohr opened #197 "Support StreamLocalBindUnlink"
Hello,

for enabling GPG Agent Forwarding, it could be necessary to activate the ```StreamLocalBindUnlink``` option. From http://man7.org/linux/man-pages/man5/sshd_config.5.html:
[code]

If you want to use GPG agent forwarding, and the system autostarts GPG agent on the server, it's impossible to overwrite the sockets to get the gpg client connected to your local agent. You can delete it, but to e

[2018-11-15 20:14] rndmh3ro commented on #175
You're right, @MatthiasLohr I forgot that.

So it's back to `custom_ssh_options` and `custom_sshd_options`. I'm in favor of this.

So if anyone wants to implement it, feel free to work on it!

[2018-11-15 20:17] rndmh3ro commented on #197
Hey Matthias,

thanks for your PR! :)

However I actually don't really want to add any more (IMO) lesser-used options to the configuration..

So right now I'm in favor of implementing the custom-values from PR https://github.com/dev-sec/ansible-ssh-hardening/issues/175, so everyone can include options by themselves.

Would this be okay for you?

[2018-11-16 06:07] MatthiasLohr commented on #197
Ok.

[2018-11-16 06:41] MatthiasLohr commented on #175
@rndmh3ro, here it is.

[2018-11-18 17:47] rndmh3ro commented on #197
You can now implement this with `sshd_custom_options` (as you probably know :))

[2018-11-18 17:47] #197 closed

[2018-11-18 17:48] rndmh3ro commented on #190
Fixed in #195

[2018-11-18 17:48] #190 closed

[2018-11-18 17:48] rndmh3ro commented on #185
@jcheroske please reopen, if the problem persists!

[2018-11-18 17:48] #185 closed

[2018-12-19 15:37] aventrax opened #200 "sshd_custom_options not working.."
**Describe the bug**
I'm using a playbook with ssh_custom_options but the lines are never inserted on sshd_config on the destination host.

**Expected behavior**
Find my custom lines on /etc/ssh/sshd_config

**Actual behavior**
Unfortunately the line is not there...

**Example Playbook**
[code]

**OS / Environment**
Debian stretch 9.0

**Ansible Version**
2.7

**Role Version**
5.0.0

[2018-12-19 16:10] aventrax commented on #200
It seems that also `ssh_permit_root_login: 'without-password'` has no effect, meanwhile the ssh_kex, ssh_macs and ssh_allow_agent_forwarding are working as expected.

[2018-12-19 16:21] rndmh3ro commented on #200
Hey @aventrax, I'll need to check this...

[2018-12-20 08:13] aventrax commented on #200
I tried at home and it worked! I search the diff and I noticed that I was using an old role version. The last version 5.0.0 (in releases) didn't work but it seems normal since it has been released before the custom option has been implemented. Little bit misleading, in my opinion..

`ansible-galaxy install git+https://github.com/dev-sec/ansible-ssh-hardening.git,5.0.0`  <-- Does not work

`ansible

[2018-12-20 08:13] #200 closed

[2018-12-24 21:20] rndmh3ro commented on #189
Hey @jcheroske,
sorry for not answering sooner!

What user are you trying to connect with? Is the user added ro the `ssh_allow_users`?

[2019-01-31 13:13] basz commented on #189
I might have a similar issue. I provision as root, create a user with sudo capabilities, add public keys, and after hardening (with the ssh_allow_users option) I can't login at all.

It's a freshly provisioned Ubuntu Node at digitalocean

(I logged in first, so I could cat the config...)

[code]

[2019-02-01 14:43] basz commented on #189
In my case, it turned out I created a user (via ansible) without a password. Which meant the account was locked. After giving it a random password I could harden without issues. thanks!

[2019-02-02 17:56] rndmh3ro commented on #175
Fixed with #199

[2019-02-02 17:56] #175 closed

[2019-02-02 18:58] rndmh3ro commented on #188
You're right, I just tested this.
To make it work on all OS's I apparently have to use this:
[code]

[2019-02-25 19:01] JoshuaEdwards1991 commented on #189
I'm having the same issue running this on ubuntu 18, using ansible/packer in aws

[2019-03-10 08:47] westurner opened #206 ""remove selinux-policy when Pam is used""
Tragic: https://github.com/dev-sec/ansible-ssh-hardening/blob/master/tasks/selinux.yml#L53-L57

Even after reading this I don't think I quite understand the problem here: https://danwalsh.livejournal.com/12333.html?mode=reply

Is there no way to configure `pam_unix` to skip the /etc/shadow read and just default to `unix_chkpwd`? Would that even solve?

(Sorry, this isn't a bug in ansible-ssh-harde

[2019-03-13 13:59] paulbrowne opened #207 "Using more than one rule in a Group or User Match block?"
**Describe the bug**
This may not be be a bug per se, I'm just slightly confused about how to specify more than 1 rule in a MatchGroup block using the ssh_server_match_group role variable, as specifying this as a list fails with e.g.

fatal: [10.0.10.19]: FAILED! => {"changed": false, "msg": "AttributeError: 'list' object has no attribute 'splitlines'"}

**Expected behavior**
ssh_server_match_grou

[2019-03-15 16:41] rndmh3ro commented on #207
Thanks @paulbrowne, that's definitely a bug. I created PR #208 to fix this.

[2019-03-16 15:57] snoopotic opened #209 "add option to skip ssh restart handler"
Under certain circumstances it may be life saving not seeing the handler "restart sshd" restarting the sshd.
E.G.: In environments without test instances and where you like to set special ListenAdress(es).

I just have a solution for that and open a PR as follows.

Solution may be removed when some tests are added before restarting sshd (like apache-httpd's configtest)

[2019-03-16 18:39] artem-sidorenko commented on #209
@snoopotic thanks for raising this issue! Usually it's safe to restart sshd at least for the currently running sessions, as they are not interrupted. Or do you mean something different?

[2019-03-16 19:23] snoopotic commented on #209
Well, you say it: Some situations still would get you in trouble, if sshd is restarted. My experience is also, mostly you deploy automated and have no open ssh session.
- you change the listen_port
- you change listen_IP(s)
Especially if you don't have a testing environment.
As in my PR the default is still it restarts, but you will be able to disable it.

In my private Environment it was good to

[2019-03-16 19:41] artem-sidorenko commented on #209
@snoopotic thanks! I was just curious about the use-case. If you use automation, you usually want to have everything automated, including daemon restarts. Otherwise you potentially create hidden problems, e.g. you assume hardening is applied but actually it's not.

Risks and problems are usually addressed via automated testing chains, e.g. with test-kitchen&inspec or maybe other tools. Not sure ho

[2019-03-17 11:27] snoopotic commented on #209
Well, you‘re right saying this undermines the full automation approach. But currently there are still so much situations where you need a manual fallback.
In this case, hardening and setting up sshd is essential and this ansible role is for me a very nice starting point applying it also on „legacy“ systems that are currently not under configuration management.
Well, I try to describe the case from

[2019-03-17 16:08] yeawellwhatever opened #212 "SSH fails to start/connect if custom server ports is set on CentOS 7.6"
**Describe the bug**
SSH will not start if ssh_server_ports: set to other than 22

**Expected behavior**
SSH restarts and clients is able to connect to the custom port

**Actual behavior**

[code]
**Example Playbook**

[code]

**OS / Environment**

cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

Fresh install of CentOS from ISO, minimal.

**Ansible Version**

[code]

**Role Version**

[2019-03-18 15:02] artem-sidorenko commented on #209
@snoopotic if @rndmh3ro is open to take this, you don't have to live with your fork but can switch to upstream code ;-)

[2019-03-20 08:38] rndmh3ro commented on #209
Hi Felix,

thanks for raising this. I'm on Artems side on this one, though. If you "only" need this, to bring legacy systems onto config-management or for debugging purposes, than this means that you only need this new option temporarily. So my idea is that you change the role temporarily, include your changes and see if everything works as expected. If that's done, you can remove your change and

[2019-03-20 08:38] #209 closed

[2019-03-20 08:42] rndmh3ro commented on #207
Should be fixed by #208

[2019-03-20 08:42] #207 closed

[2019-03-20 19:38] artem-sidorenko commented on #209
@snoopotic @rndmh3ro many thanks for this! This is a totally clear and simple idea&implementation and makes totally sense, I checked it with chef-ssh-hardening - its missing there:) I'll add it there too

[2019-03-24 19:29] rndmh3ro commented on #212
Hey @yeawellwhatever,
thank you for raising this issue!

Do you think we should provide some mechanism to fix this? Or update the documentation to mention this?

[2019-03-30 01:13] yeawellwhatever commented on #212
I'd say just add it in the documentation first.
To make the role idempotent would take more than simply adding a firewall and selinux rule, and I personally dont use it that often to do a PR.

[2019-03-30 12:01] rndmh3ro commented on #212
Sounds good to me!

Do you want to create a PR to update the documentation or should I do that?

[2019-04-05 18:41] westurner commented on #188
https://github.com/dev-sec/ansible-ssh-hardening/pull/202#issuecomment-477503500

This would be great to have working.

[2019-04-06 06:54] guilieb commented on #212
Even if I think firewalld configuration has nothing to do with it, we should consider adding a task to update **seports** if SELinux is running.

Here’s a possible implementation, PR incoming:
[code]

[2019-04-14 13:52] #188 closed

[2019-04-14 14:10] westurner commented on #188
Thanks!

On Sunday, April 14, 2019, Sebastian Gumprich <notifications@github.com>
wrote:

[2019-04-24 09:23] RogerSik opened #215 "Allow SSH Password login for specific users"
Would be nice if specific users / users groups are allowed for SSH password logins. We use this for restricted customer sftp uploads accounts.

Currently we use this code in /etc/sshd_config
[code]

[2019-04-24 15:41] rndmh3ro commented on #215
Hey!

This should already work with something like this:

    ssh_server_match_user:
      - user: 'ssh-with-password'
        rules:
          - 'PasswordAuthentication yes'

See this example:
https://github.com/dev-sec/ansible-ssh-hardening/blob/15dd4d344ed222d47685be3870048fdc123b35c6/tests/default_custom.yml#L53

[2019-04-29 09:41] RogerSik opened #216 "Allow enabling X11Forwarding"
Is there a variable to allow X11Forwarding? We need it for a few developer ssh machines.

[2019-04-29 09:43] RogerSik commented on #215
@rndmh3ro cool! Will test it. :)

[2019-04-29 09:52] RogerSik commented on #215
Do I need specific formatting to use it as a variable?

[code]

[2019-04-29 12:17] rndmh3ro commented on #215
You need to set it e.g. like this:

[code]

[2019-04-29 13:57] rndmh3ro commented on #216
Hey Roger,

there's no specific variable to allow X11Forwarding.

However you can set it like this, if you use the latest master branch (with this PR included: https://github.com/dev-sec/ansible-ssh-hardening/pull/217):

[code]

[2019-04-29 14:10] rndmh3ro commented on #170
Hey @Punkado,

sorry for not answering sooner.

I'll just copy-paste from https://github.com/dev-sec/ansible-ssh-hardening/pull/172:

[2019-04-29 14:43] rndmh3ro commented on #191
Hey @MatthiasLohr,

sorry for not answering! Can you provide the steps to reproduce this issue?

[2019-04-30 07:05] MatthiasLohr commented on #191
Hey, thank you for your reply. For now, the problem is gone, so I can't reproduce it. Will close this ticket until the problem occurs again.

[2019-04-30 07:05] #191 closed

[2019-05-07 11:57] wojciech-kopras opened #221 "Missing indent for `ChrootDirectory` in `Match Group sftponly`"
**Describe the bug**
Resulting indentation is incorrect since v6.1.0. Because of introduced `-` in https://github.com/dev-sec/ansible-ssh-hardening/commit/f911ea9c0b40ec6a37f46d0120a84e96e3c12d47#diff-cf4cfd6ab432cbfc8900283cfd984d0fL243

**Expected behavior**
In `sshd_config` I would expect:
[code]

**Actual behavior**
Result:
[code]

**Example Playbook**

[code]

**OS / Environment**

**Ansible

[2019-05-07 12:54] artem-sidorenko commented on #221
@wojciech-kopras thanks for raising this issue! My I ask you to open a PR with a fix?

[2019-05-07 19:55] rndmh3ro commented on #221
Hey @wojciech-kopras,

sorry for this! I fixed this in #222, see here in the travis-logs that its fixed: https://travis-ci.org/dev-sec/ansible-ssh-hardening/jobs/529463999#L1133-L1165

I'll merge this and create a new release!

[2019-05-07 20:02] #221 closed

[2019-05-16 17:05] sfuerte opened #224 "sshd_custom_options used in ssh_config generation"
**Describe the bug**
the wrong variable, `sshd_custom_options` is used for client config file generation

[code]

**Expected behavior**
should be `ssh_custom_options`

**Role Version**
[code]

[2019-05-17 07:50] rndmh3ro commented on #224
Sorry for this! That was a copy-paste error. I'll fix this.

[2019-05-17 08:24] #224 closed

[2019-05-28 16:10] sfuerte opened #226 "deprecation warnings in Ansible 2.8"
**Actual behavior**
[code]

**Example Playbook**
[code]

**OS / Environment**
**Ansible Version**
[code]

**Role Version**

[code]

same as in https://github.com/dev-sec/ansible-os-hardening/issues/221

[2019-06-02 18:45] rndmh3ro commented on #226
Thanks @sfuerte for opening this issue.

As this seems easy to fix, I added the help-wanted label so anyone who wants to can create a PR!

[2019-06-09 09:08] #226 closed

[2019-06-27 08:52] xlz-jgoutin opened #229 "Unable to connect after applying the role (Ubuntu 18.04, AWS EC2)"
**Describe the bug**
A clear and concise description of what the bug is.

On AWS, I generate a fresh Uuntu 18.04 EC2 instance and provision it using Ansible. If The ssh-hardening role is used in the playbook, I get `Connection closed` when trying connecting after playbook installation. The connection is successful without the role.

Default roles values are used.

**Expected behavior**
A clear and

[2019-06-28 08:09] rndmh3ro commented on #229
Hey @xlz-jgoutin,

the problem here is probably that the user `ubuntu` is not included in the `ssh_allow_users`-variable. Can you try this modified playbook and report back if it helps?

[code]

[2019-06-28 13:12] xlz-jgoutin commented on #229
Hello,

I tried with your modified playbook but this does not solve the issue.

[2019-07-31 16:59] timbroder commented on #229
Hello,

I am running into the same issue

Thanks

[2019-08-02 09:34] MatthiasLohr opened #230 "Add new option ssh_server_match_address"
**Is your feature request related to a problem? Please describe.**
In my opinion it is a questionable design decision to write the ```sshd_custom_options``` at the beginning of the configuration file. Normally you try to overwrite things that the Playbook doesn't offer so far. Example:
[code]
This does not work, because the later occurring global `PermitRootLogin no` overwrites this again.

**Desc

[2019-08-05 12:44] MatthiasLohr commented on #230
Implemented by #231.

[2019-08-05 12:44] #230 closed

[2019-08-05 13:17] rndmh3ro commented on #230
Hey @MatthiasLohr,

sshd uses the first found option in its configuration, later found options are discarded. So if you have this in your config:
[code]
the resulting option will be `AddressFamily inet`. That's why the `sshd_custom_options` is at the beginning of the file - to make it possible to override all options. `Match` options are an exception here as they should be a the end of the file ac

[2019-08-05 17:04] gregsymons opened #232 "PermitUserEnvironment should not be conflated with AcceptEnv"
**Describe the bug**
Currently, the template for the ssh server configuration will enable the `PermitUserEnvironment` directive if an array of allowed environment variables are passed in the `ssh_server_permit_environment_vars` list in addition to setting `AcceptEnv` directives for each of the entries in the list. However `PermitUserEnvironment` and `AcceptEnv` are unrelated settings. According to

[2019-08-23 14:12] angrymeir commented on #229
Hey,
same here...

[2019-08-26 20:19] snoopotic commented on #229
Hi,
keep in mind that default of `ssh_max_auth_retries: 2`causes clients with more than one loaded identity file (`ssh-add -l`) that possibly only the third or fourth key would match the authorise_keys file on the server but this might be too late and that closes the connection.
Can you check this?
consider loading less keys in our client or raise the ssh_max_auth_retries value.
Does this help?

[2019-08-26 21:13] chris-rock commented on #229
We started to allow overrides for max auth retries in https://github.com/dev-sec/ssh-baseline/pull/138. We need to find a good default value that works for most cases.

I recommend that we continue with the ability to easily customize the value if the default is not working.

[2019-08-27 08:53] xlz-jgoutin commented on #229
I do not use the SSH agent and I specify the key to use directly (`ssh -i ./ssh_private.pem`).

Retested without success after confirming there are no identities in the agent:
[code]

[2019-08-31 15:27] rndmh3ro commented on #229
Duplicate of #189

[2019-08-31 15:27] #229 closed

[2019-08-31 16:06] rndmh3ro commented on #189
# Problem

By default the user `ubuntu` on aws-machines has a locked password. This is getting logged on the aws-machine if I try to login with the user `ubuntu` and after applying the ssh-hardening role:

[code]

# Reason

The default for a newly created ubuntu machine is:

* `UsePAM yes` in `sshd_config`
* user `ubuntu` has a locked password but is not locked (with a `!` in the shadow file)

-->

[2019-09-26 18:43] bschonec opened #239 "Some options not configurable via the role"
**Is your feature request related to a problem? Please describe.**
Configurations like Strictmodes, SyslogFacility and LogLevel are hard-coded in the j2 template.

**Describe the solution you'd like**
Those parameters added to the role.

**Additional context**
Do you have any standard naming conventions you want me to adhere to when I submit a merge request?

I'm thinking: log_level and syslog_fac

[2019-09-26 19:25] rndmh3ro commented on #239
Hey @bschonec, I'd welcome a PR if you feel this needs to be dynamic!

Prepend the variables with `ssh_`, e.g. `ssh_log_level`.

[2019-09-27 12:18] rndmh3ro commented on #239
Fixed by #240

[2019-09-27 12:18] #239 closed

[2019-09-30 13:07] rgarrigue opened #241 "SSH not installed"
Hi

I've set this role as a dependency for my server base role. Which I'm testing using molecule over containers. My problem is, when ssh-hardening runs, SSH is yet to be installed ! Maybe you should allow to install SSH, behind a `ssh_install: false` variable if needed ?

Best regards,

[2019-10-02 11:50] rndmh3ro commented on #241
Hey @rgarrigue,

I think installing SSH can be done at the playbook-level if its really needed.
See our tests, for how we do it: https://github.com/dev-sec/ansible-ssh-hardening/blob/master/tests/default.yml#L4-L9

[code]

[2019-10-02 11:50] #241 closed

[2019-10-02 15:19] aodj opened #243 "Possibility for customising host key algorithms?"
**Is your feature request related to a problem? Please describe.**
I was using [`ssh-audit`](https://github.com/jtesta/ssh-audit) to inspect my ssh configurations, and after applying the `ansible-ssh-hardening` role it suggests removing the `ecdsa-sha2-nistp256` algorithm from the permitted host key algorithms due to a potential for revealing the key with a weak RNG.

**Describe the solution you'd

[2019-10-04 15:48] rndmh3ro opened #247 "Add CentOS 8 support for ansible-ssh-hardening"
We'd like to support CentOS8!

Ideally we'd have testing for:

* kitchen with vagrant (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.kitchen.vagrant.yml)
* kitchen with docker (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.kitchen.yml)
* travis (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.travis.yml)

Docker-Image that should be used: https://cloud

[2019-10-04 15:57] rndmh3ro commented on #215
I'll close this for now! Feel free to reopen if the problem persists.

[2019-10-04 15:57] #215 closed

[2019-10-04 15:58] rndmh3ro commented on #216
Closing as the aforementioned way to set this should work.

[2019-10-04 15:58] #216 closed

[2019-10-04 16:00] #212 closed

[2019-10-04 16:10] rndmh3ro opened #248 "Add support for Debian Buster in ansible-ssh-hardening"
We'd like to support Debian 10, aka Buster!

Ideally we'd have testing for:

* kitchen with vagrant (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.kitchen.vagrant.yml)
* kitchen with docker (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.kitchen.yml)
* travis (https://github.com/dev-sec/ansible-ssh-hardening/blob/master/.travis.yml)

Docker-Image that should be used:

[2019-10-05 14:29] rndmh3ro commented on #243
Hey @aodj,

right now we do not have the possibility to manage HostKeyAlgorithms. If you want to implement this feature, feel free to submit a PR!

[2019-10-07 18:01] #248 closed

[2019-10-07 19:47] 123Haynes commented on #247
@rndmh3ro Can you verify that the docker image that should be used works correctly please?
I get the message
"Waiting for SSH service on localhost:32768, retrying in 3 seconds"
indefinitely when I execute kitchen test after adding centos8.

Full log:
[code]

[2019-10-08 13:48] rndmh3ro commented on #247
Well, the image itself works correctly. However test-kitchen + systemd + centos 8 are apparently a bad mix.

The best I could manage is this so far:
[code]

This makes the container start and execute ansible, however it won't find the sshd-service, thus failing at the restart-handler. If kitchen is then run again, at least it won't fail and you can verify the build.. There are then some inspec-fai

[2019-10-15 17:32] rndmh3ro commented on #232
Hey @gregsymons,

thanks for your great Issue! @szEvEz fixed this issue!

[2019-10-15 17:32] #232 closed

[2019-11-21 08:06] brnck opened #255 "Possibility to use other value than yes/no for AllowTCPforwarding"
**Is your feature request related to a problem? Please describe.**
According to the documentation of [OpenSSH SSH	daemon configuration file](https://man.openbsd.org/sshd_config#AllowTcpForwarding) **AllowTcpForwarding** supports few options:
- yes
- no
- all
- local

The role itself only supports **yes** or **no** values and gracefully fallbacks to **no** if value for key.

**Describe the solution

[2019-11-21 10:44] rndmh3ro opened #256 "Simplify crypto.yml checks with blocks"
**Is your feature request related to a problem? Please describe.**
Right now there's much duplicated code in the crypto.yaml task-file.

**Describe the solution you'd like**

We should use blocks
[code]

[2019-11-21 13:11] rndmh3ro commented on #255
Hey @brnck,

that's a good idea!

However other options besides yes/no are only supported since OpenSSH 6.2, so we need to make sure it works on older versions, too.

Do you want to create a pull request for this?

[2019-12-13 18:06] agross opened #259 "Cannot install policycoreutils-python on Fedora 31"
**Describe the bug**

I tried to harded a freshly set up Fedora 31 server:

[code]

A package called `policycoreutils-python-utils` can be installed and the playbook succeeds afterwards.

**Expected behavior**

Success.

**Actual behavior**

Above error.

**OS / Environment**

Fedroa 31 Server.

**Ansible Version**

[code]

**Role Version**

[code]
Installed using ansible-galaxy.

[2019-12-19 19:26] #255 closed

[2019-12-19 19:27] rndmh3ro commented on #170
Setting custom AuthenticationMethods is possible via https://github.com/dev-sec/ansible-ssh-hardening/pull/245 and `ssh_google_auth` was deprecated.

[2019-12-19 19:27] #170 closed

[2019-12-19 19:31] rndmh3ro commented on #259
Hey @agross, thanks for raising this issue!

Can you please retest with the latest master-state? We changed the installation method for the selinux-tools here: https://github.com/dev-sec/ansible-ssh-hardening/commit/fdfa4d76

[2019-12-19 19:45] agross commented on #259
@rndmh3ro Thanks, that commit fixes it.

[2019-12-19 19:45] #259 closed

[2020-01-15 15:16] pugnacity opened #261 "Add RHEL 8 Support"
**Describe the bug**
Role can't be applied to RHEL8 nodes

**Expected behavior**
RHEL 8 is supported
**Actual behavior**

[code]

**OS / Environment**
- RedHat 8.1 Ootpa
- Selinux enabled

**Ansible Version**

[code]

**Role Version**

[code]

**Additional context**
The package policycoreutils-python must be replaced with python3-policycoreutils in RHEL8

[2020-01-22 19:43] abtreece opened #262 "HostKey comment "# Req 20" breaks key based auth"
**Describe the bug**
Working on implementing Okta Advanced Server Access (formerly ScaleFT) which utilizes client certificate authentication for SSH. Connections are failing with "ssh: handshake failed: open : no such file or directory". After much troubleshooting the problem appears to be the "# Req 20" comment that is added to the HostKey configuration in /etc/ssh/sshd_config

https://github.com

[2020-01-24 19:06] #262 closed

[2020-01-26 03:20] pgporada commented on #261
What you need to do is install this role from the master branch rather than whatever old version that ansible-galaxy has cached.

[code]

`ansible-galaxy install -r requirements.yml --force`

[2020-02-09 19:35] kljensen opened #265 "Remove dependency on bash"
I am using this project on OpenBSD target systems where bash is not installed in the default system. `/bin/bash` is used in two places in the code base. One is the selinux specific code and the other is in [hardening.yaml on line 11](https://github.com/dev-sec/ansible-ssh-hardening/blob/master/tasks/hardening.yml#L11). Bash is used to get the ssh version

I'd like to eliminate the dependency on ba

[2020-02-09 19:36] kljensen commented on #265
And, I want to say I'm very grateful for the hard work of the contributors to this project. Thank you!

[2020-02-09 20:44] rndmh3ro commented on #265
Thanks for raising this and thanks for the kind words!

The reliance on bash and pipefail was introduced in this PR: https://github.com/dev-sec/ansible-ssh-hardening/commit/c6ff1d3cbfc1065b782a11944f6e51c5fd228b21
Mainly to make ansible-lint happy.

I'd be happy to remove the dependency on these, provided ansible-lint stays happy and of course the functionality stays the same. Making ansible-lint

[2020-02-13 21:24] #265 closed

[2020-04-03 09:28] ancoron opened #271 "Disable Ubuntu dynamic login MOTD"
**Is your feature request related to a problem? Please describe.**

Although I have explicitly set the following, the standard dynamic Ubuntu MOTD is still displayed upon login via SSH:

[code]

Example:

[code]

**Describe the solution you'd like**

The following lines in `/etc/pam.d/sshd` should be commented out or removed when variable `ssh_print_motd` is `false` and the OS is Ubuntu:
[code]

*

[2020-04-04 14:27] rndmh3ro commented on #271
Thanks @ancoron, fo raising this issue and thanks to whoever thought it was a good idea to add yet another method for managing motd.
We can do this with the https://docs.ansible.com/ansible/latest/modules/pamd_module.html module. Do you want to take a stab at it?

[2020-04-09 11:03] ancoron commented on #271
I just tested with the `pamd` module (previously had a simple `replace` task and the following works for me:

[code]

[2020-04-15 13:15] NanoPish opened #272 "boolean variable inconcistency ?"
**Describe the bug**
If I want to set agent forwarding and tcp forwarding true in the last version, I need to do       ssh_allow_tcp_forwarding: 'yes'
ssh_allow_agent_forwarding: yes

notice the quotes
**Expected behavior**
Same boolean notation for all variables

[2020-04-15 15:17] rndmh3ro commented on #272
The problem is that AllowTcpForwarding accepts the strings `yes`, `no`, `all` and `local`, so a boolean is not correct here. This has to be a string.
We have to make this more clear in the README.

[2020-04-15 19:25] rndmh3ro commented on #271
This looks good! Do you want to create a PR to add this? We'd need the `when`-condition on the task and put it into the hardening.yml

[2020-04-17 10:19] NanoPish commented on #272
I can make a PR.
Maybe different prefix for ansible variable that are passed
* more raw, like ssh_allow_tcp_forwarding
* more indirectly, like AllowAgentForwarding
ssh_raw_allow_tcp_forwarding or string_ssh_allow_tcp_forwarding ?

Follow up question, shouldn't we make these variable the same, all strings or all bool ?
And should we make this kind of catchall conditions:
`AllowTcpForwarding {{ ssh_

[2020-04-17 10:20] NanoPish commented on #272
And shouldn't it be sshD prefix with a D for variables that affect the server

[2020-04-22 22:13] guilieb commented on #261
RHEL/CentOS 8 support has been added in fdfa4d763bd2c552d6895625100e857b9f585769. Maybe a new version should be published on Galaxy, to avoid issues from users ?

[2020-04-24 21:40] Teknoenie opened #275 "RHEL/CentOS 8 requires removal or editing of /etc/crypto-policies/back-ends/openssh*.config"
**Describe the bug**
OpenSSH server configuration is handled by 'update-crypto-policy' which provides

/etc/crypto-policies/back-ends/openssh.config

and

/etc/crypto-policies/back-ends/opensshserver.config.bak

These files must be removed or altered in to function correctly.

**Expected behavior**
OpenSSH policies for Key Exchanges, MACs and Ciphers as defined by the Ansible module work.

**Actua

[2020-04-25 18:39] rndmh3ro commented on #261
Yes, good idea. I'll try to find some time.

[2020-05-01 10:44] rndmh3ro commented on #275
Thanks for this, I did not know that this exists.

More information: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/security_hardening/using-the-system-wide-cryptographic-policies_security-hardening

We'll have to decide what to support and use.

[2020-05-05 16:32] kostasns opened #276 "New Relese?"
**Is your feature request related to a problem? Please describe.**
Currently Ansible Galaxy pulls release 7.0.0 which does not entirely match to documentation, and in general is 8 months old.

**Describe the solution you'd like**
A new release to Ansible Galaxy, please ? :)

[2020-05-05 19:52] rndmh3ro commented on #276
Done!

[2020-05-05 19:52] #276 closed

[2020-05-06 04:41] kostasns commented on #276
Awesome! Thank you for super quick turnaround.

[2020-05-11 16:23] Teknoenie commented on #275
While not a bug, it would seem that the client configurations also don't disallow host key types for use.  I'm not sure how to best accomplish this but it would be nice if we could also figure out how to enforce SSH client configuration for allowed HostKeyTypes.

[2020-05-12 11:22] manfredlift opened #283 "Ubuntu disable dynamic MOTD failing"
**Describe the bug**
We run the latest version of the role with default variables on Ubuntu 18.04 on a weekly basis to rebuild base images.

Today, the playbook fails at `[dev-sec.ssh-hardening : disable dynamic MOTD]` with the following error:
[code]

**Expected behavior**
No error

**OS / Environment**

Ubuntu 18.04

[code]

**Ansible Version**

[code]

**Role Version**

[code]

[2020-05-12 11:31] manfredlift commented on #283
Seems to be related to https://github.com/dev-sec/ansible-ssh-hardening/issues/276.
We also use `ansible-galaxy` to install this role, it looks like we had been using old version the whole time.

[2020-05-13 08:12] #271 closed

[2020-05-13 10:12] rndmh3ro commented on #283
Hey @manfredlift,

I see you're using Ansible 2.5.1. This is a rather old, unsupported version. Can you try with a more up-to-date vesion, at least 2.7?

[2020-05-15 08:51] 7php opened #285 "ssh_exchange_identification: read: Connection reset by peer"
Hello,

not sure if this is a bug or... But I want to know how I can disable this: `ssh_exchange_identification: read: Connection reset by peer`.

Context:
I cannot `git clone` since I did the **ssh hardening** (v8.0.0).

But if I git clone on `https` instead of `ssh`, it works..

Please advise.

[2020-05-15 10:26] 7php commented on #283
Just want to say that on `v8.0.0` and `v8.1.0`, this works fine.
I tested on `ubuntu 18.04` as well.

My `Ansible` version is `v2.9.7`

[2020-05-15 12:36] rndmh3ro commented on #285
Hi @7php,

we need more information to help you here:

* What OS are you running where you applied the role?
* What user do you use to clone with ssh?
* How did you run the role? Did you use any additional options?

[2020-05-15 13:51] manfredlift commented on #283
Thanks, I updated to ansible `2.9.9` and everything works fine 👍

[2020-05-15 13:51] #283 closed

[2020-05-15 17:15] 7php commented on #285
The host is Mac OS (Mojave), with Ansible v2.9.7
the remote, is a droplet running Ubuntu 18.04

So I created user on the remote, but for the role which clones, I needed to have "become=yes".
But I have manually gone on the remote and tried cloning with both the user and as root, both have this issue. So it has to do with a settings that the `ssh hardening` has made. I cannot find what it is.

Run

[2020-05-18 18:43] rndmh3ro commented on #285
Everything happens on the remote, where you applied the role, right?
So when you run `git clone` on the remote server the above mentioned error message appears? Do I understand this right?
It does not matter if you clone as your user or as root, both fail?

[2020-05-19 04:30] 7php commented on #285
yes all correct

[2020-05-21 05:53] Teknoenie commented on #285
are you using an SSH agent to manage your connections from the client?  It is possible that the agent is using the incorrect key or password.

[2020-05-21 07:23] 7php commented on #285
nothing additional.

`ssh-add -l` reveals that the key is fine

[2020-05-31 21:33] jeanmonet opened #286 "AllowTCPForwarding set to `no` although I have `ssh_allow_tcp_forwarding: yes`"
**Describe the bug**
`AllowTCPForwarding` set to `no` although I have `ssh_allow_tcp_forwarding: yes` in my playbook (see playbook extract below).

**Actual behavior**
`/etc/ssh/sshd_config` has `AllowTCPForwarding no` instead of `AllowTCPForwarding  yes`.
The following is terminal output extract when running the playbook:
[code]

**Playbook**

[code]

**OS / Environment**

Playbook runs from:
- U

[2020-06-02 07:00] rndmh3ro commented on #286
Consequently, it seems that it is necessary to set 'yes' / 'no' as a string (with quotes) as such:

That's correct.

Sounds like a good idea, the readme was obviously not explicit enough. Do you want to create a PR for this?

[2020-06-03 19:25] jeanmonet commented on #286
Sure, this would be a suggested wording. If it's fine for you I'll create a PR:

[2020-06-03 19:29] rndmh3ro commented on #286
Sounds great, go ahead!

[2020-06-04 04:48] rndmh3ro commented on #286
Fixed by https://github.com/dev-sec/ansible-ssh-hardening/pull/288

[2020-06-04 04:48] #286 closed

[2020-06-07 19:22] rndmh3ro commented on #285
Okay, to debug this, can you please do the following on the host:

[code]

This basically runs the git clone command with more verbose output. Please put the output into a [gist](gist.github.com/).

[2020-06-07 21:03] 7php commented on #285
hey @rndmh3ro I'm sorry I did not followup on this.. I actually figured out the issue some weeks back.

When doing the ssh hardening, I changed the `ssh_server_ports` - which is fine.
But I inadvertently also changed the `ssh_client_port` -  this one I guess does not make sense at all to be changed right?

So when I was doing `git clone`, it would connect on the GIT repo on the new port and hence

[2020-06-08 06:26] rndmh3ro commented on #285
Thanks for following up on this. I learned, how to debug git clone via ssh. :)

The times when you need to change this are probably rare. For example if all your servers are listening on a different port, then you can change it to that port. But you'd probably do that in your personal `.ssh/config` file instead of globally.

[2020-06-08 06:26] #285 closed

[2020-06-08 07:50] 7php commented on #285
thank you, I appreciate the time and effort you put in to help us and with this amazing role.
Please keep the awesome work with your Ansible roles.

See you around, cheers

[2020-06-22 18:53] bajzekm opened #297 "Add support for X11 configuration"
**Is your feature request related to a problem? Please describe.**
Several parameters within the templates for `openssh.conf` and `opensshd.conf` are hardcoded such that they can't be modified using this role. It would be better if all of those values were configurable.

In particular, my use case calls for enabling X11 on some systems (via `ForwardX11`, `X11Forwarding`, and `X11UseLocalhost`).

*

[2020-06-24 11:44] donestefan commented on #261
Seems like Support for EL8 was added in #242 ([changelog](https://github.com/dev-sec/ansible-ssh-hardening/blob/master/CHANGELOG.md#800-2020-04-21)), but `ansible-ssh-hardening/meta/main.yml` was not updated accordingly. @rndmh3ro would you mind fixing that glitch in the next release?

[2020-06-25 11:34] rndmh3ro commented on #272
Hey @NanoPish,

sorry for not answering sooner.

Yes!

`AllowTcpForwarding {{ ssh_allow_tcp_forwarding if (ssh_allow_tcp_forwarding in ('yes', 'no', 'local', 'all')) else 'no' }} `

This reads like a really good solution. Though we have to make sure to get all possible parameters.

If you're still interested - I am!

[2020-06-25 11:44] rndmh3ro commented on #261
Fixed: https://github.com/dev-sec/ansible-ssh-hardening/pull/298

[2020-06-25 11:44] #261 closed

[2020-06-29 08:57] nununo opened #299 "Idempotency when changing sshd ports"
**Is your feature request related to a problem? Please describe.**
If I want to change the default `sshd` port from `22` to `12345`, the server's `ansible_port` should be set to `12345`so that Ansible can keep connecting to the server after the change. But, since when I run `ssh-hardening` for the first time the port is still `22`, `ssh-hardening` will not be able to connect. So I am forced to edi

[2020-06-29 11:16] nununo commented on #299
HI @rndmh3ro,

I can totally understand why you wouldn't want to add all that code. It's a bit of a mess. What you propose makes sense.

If you agree, the solution to be proposed in the readme could be comprised of 2 parts:

1. Code to run BEFORE your role which would automatically overwrite `ansible_port` with the current port (`22` or the desired one).
2. Code to run AFTER your role which would

[2020-06-29 11:23] rndmh3ro commented on #299
Sounds great! Do you want to open a PR for this?

[2020-06-29 11:26] nununo commented on #299
Sure. Give me some days to try to come up with something. I warn you though that I'm an Ansible noob so, while I'll do my best, please take that into consideration and be critical about whatever I propose :)

[2020-06-30 13:25] MatthiasLohr commented on #272
Looks like the same problem exists with `ssh_server_permit_environment_vars`.

[2020-07-02 10:50] nununo commented on #299
Hi @rndmh3ro, I forked the rep and tried to create something as seamless as possible. While I managed to greatly simplify the example mentioned above, it still has many moving parts. Have a look at it in the `fallback` branch of my fork if you want:
https://github.com/nununo/ansible-ssh-hardening/tree/fallback

1. New `hardening_with_fallback.yml` built as a wrapper around your `hardening.yml`;
2.

[2020-07-04 20:19] rndmh3ro commented on #299
Hey @nununo, thanks for following up on this!

How about you write that wrapper-role and we put a separate section in the readme that briefly describes the problem, links to this issue here and to your wrapper role?
This way we don't have to maintain more code but people looking for a solution to this problem can still find it?

[2020-07-05 13:46] nununo commented on #299
Good idea.

I have created a first draft here:
https://github.com/nununo/ansible-ssh-hardening-fallback

It already works in my local environment. But it still needs some work. I want to make it more robust and user friendly.

Any tips/suggestions/criticism are welcome.

But what will definitely take more time is testing. I have never worked with Travis, Molecule or any of these CI testing pipelin

[2020-07-06 06:36] rndmh3ro commented on #297
Fixed by #300

[2020-07-06 06:36] #297 closed

[2020-07-07 14:53] rndmh3ro commented on #299
I tested your role briefly in Centos 7 in a Docker container and it worked fine and idempotent!

So I have no problem linking to it in the readme if you want to create a PR for this.

[2020-07-08 02:40] magick93 opened #302 "Task create sshd_config and set permissions fails"
**Describe the bug**

I'm getting the below error on **create sshd_config and set permissions to root/600** which I think is [this task](https://github.com/dev-sec/ansible-ssh-hardening/blob/master/tasks/hardening.yml#L33-L42).

[code]

**Expected behavior**
Expect the playbook to complete successfully

**Actual behavior**

See above

**Example Playbook**

[code]

**OS / Environment**

Centos 7

*

[2020-07-08 04:09] magick93 commented on #302
I think this was caused by using `    ssh_listen_to: "10.8.001.0" ` rather than using an array.

[2020-07-08 04:09] #302 closed

[2020-07-08 15:38] coderph0x opened #303 "Typo in hardening.yml"
**Describe the bug**
There's a typo in hardening.yml

**Expected behavior**
Output would be `TASK [dev-sec.ssh-hardening : include tasks to create crypto-vars]`

**Actual behavior**
Output is `TASK [dev-sec-ssh.hardening : include tasks to create crypo-vars]`

**Playbook**

[code]

**OS / Environment**
Ubuntu 20.04 w/ GNOME desktop

**Ansible Version**

[code]

**Role Version**

[code]

[2020-07-08 15:39] coderph0x commented on #303
No biggie, it just came up. :-)

[2020-07-08 20:57] schurzi commented on #243
Hey @aodj,

with #278 merged this should be possible since release 8.1.0. Can you test this in your environment and confirm that it is working for you?

[2020-07-08 23:29] magick93 commented on #302
I think this was caused by using `    ssh_listen_to: "10.8.001.0" ` rather than using an array.

[2020-07-09 06:20] #303 closed

[2020-07-09 11:52] rndmh3ro commented on #256
Fixed by #305, thanks @schurzi!

[2020-07-09 11:52] #256 closed

[2020-07-10 12:31] nununo commented on #299
Those are good news!
It also seems to work in Debian 10.

I'll have to find the time to learn how to implement proper tests and then publish it in Galaxy. Once that is done I'll do the PR ;)

[2020-07-13 16:52] #299 closed

[2020-07-14 20:54] salderma opened #308 "CBC Ciphers should be disabled by default."
**Describe the bug**
After applying this role and executing a Nessus Scan of the system, SSH is still allowing CBC Ciphers.
https://www.tenable.com/plugins/nessus/70658

**Expected behavior**
SSL Labs, for example, will render an 'F' grade on a site with CBC ciphers enabled for SSL. (https://blog.qualys.com/technology/2019/04/22/zombie-poodle-and-goldendoodle-vulnerabilities)
  I would expect that

[2020-07-14 22:25] schurzi commented on #308
Hi @salderma, thanks for discovering this.
I have run a quick test on CentOS7 and I think the ciphers are set correct. Also in our defaults we already do not include the CBC ciphers, see: https://github.com/dev-sec/ansible-ssh-hardening/blob/6626617a4a7c6fca536d5d2b6b221c8cebc4e383/defaults/main.yml#L213-L224

On my test machine, this evaluates to:
[code]

Maybe there is a problem with the playboo

[2020-07-14 22:34] #243 closed

[2020-07-14 23:33] salderma commented on #308
It must be a CentOS 8 thing...

Apparently this would resolve - https://access.redhat.com/solutions/4410591

Sorry, I'll close the issue.

[2020-07-15 08:24] schurzi commented on #308
oh, don't be sorry! I think you fund something, that we missed.
This is a change worth including in our role, since it affects the security of sshd on CentOS8 and RHEL8.

[2020-07-15 15:45] schurzi commented on #308
relevant for this: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/security_hardening/using-the-system-wide-cryptographic-policies_security-hardening#excluding-an-application-from-following-the-system-wide-crypto-policies_using-the-system-wide-cryptographic-policies

[2020-07-18 08:20] rndmh3ro commented on #247
Fixed by https://github.com/dev-sec/ansible-ssh-hardening/pull/309

[2020-07-18 08:20] #247 closed

[2020-07-18 08:20] rndmh3ro commented on #308
Fixed by https://github.com/dev-sec/ansible-ssh-hardening/pull/309

[2020-07-18 08:20] #308 closed

[2020-07-18 08:54] schurzi commented on #275
The openssh-server side of this issue is fixed by #309.
This only leaves the client side issue remaining.

[2020-07-18 09:07] schurzi commented on #275
the crypto policy for ssh client is activated by an include `/etc/ssh/ssh_config.d/05-redhat.conf` since our config does not have this include the client part should also be solved. Will check this in a moment.

[2020-07-18 09:37] schurzi commented on #275
This is possible to check via `ssh -G localhost |grep ciphers`. We will add some tests for this to our baseline. So basically this is solved now, just waiting for the PR in ssh-baseline and then we should be safe :)

[2020-07-20 15:20] altf4arnold opened #311 "network_ipv6_enable: true not working"
Hello,

I had a perfectly working config file and made a git pull today on master.
I have this in my config file :
[code]

Even with that option, the ssh hardening module is still putting this in my sshd_config file :
[code]
which is forcing open-ssh to only listen to IPv4.

[2020-07-21 19:04] rndmh3ro commented on #311
Hey @altf4arnold,

I just tested it, works fine for me:

[code]

[code]

Can you please fill out the bug-template (https://github.com/dev-sec/ansible-ssh-hardening/issues/new?template=bug_report.md) so I can investigate further?

[2020-07-21 19:20] altf4arnold commented on #311
Sorry for not complying on the bug-template. Here it is completed

The problem is that even when IPv6 is enabled into the playbook, it's still forcing to listen to IPv4 Only with the ListenAddress Option in sshd_config.

What should happen is that if IPv6 is put to true and ListenAddress is set to default, listening to [::] should also be put in the config

That is what currently happen if IPv6 is

[2020-07-21 19:30] altf4arnold commented on #311
I just tested with commit 7ea747af03c01bb7c443eab6695e1db1c27ef509 . Still getting the same result

[2020-07-21 19:33] rndmh3ro commented on #311
The indentation of your playbook is wrong, try this:

[code]

[2020-07-21 19:37] altf4arnold commented on #311
I have the same indentation on my side (I tought while copy pasting on github that the indentation broke so I rebuilt it on here. I'm changing the indentation back to original on the original post right now)

[2020-07-21 19:38] altf4arnold commented on #311
Updated

[2020-07-21 19:50] rndmh3ro commented on #311
Sorry! I misunderstood your original issue.

The problem as you said is `ListenAddress` set to `0.0.0.0` by default, even though ipv6 should be enabled.
The correct workaround you're using is to set `ssh_listen_to: ['0.0.0.0','::']`.

Right now the logic is rather simple for this:
[code]

We could probably change this somehow so it works out-of-the-box for you. However I don't have an idea right n

[2020-07-21 20:09] altf4arnold commented on #311
Small problem small solution... Not changing the code by any mean because it's quite logical to use. Just adding it to the documentation to make it a little bit more clear :-)

[2020-07-21 20:16] rndmh3ro commented on #311
Thanks for this good solution. Glad you found the issue.

[2020-07-21 20:16] #311 closed

[2020-07-22 14:02] #275 closed

[2020-07-26 09:06] liteua opened #315 "Make SSH banner path configurable"
**Is your feature request related to a problem? Please describe.**
Some security implementation guides require warning banners to be consistent across the system:

- [CCE-27314-4](https://static.open-scap.org/ssg-guides/ssg-rhel7-guide-ospp.html#xccdf_org.ssgproject.content_rule_sshd_enable_warning_banner)

- [V-72225](https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2017-12-14/finding/V

[2020-07-27 07:09] rndmh3ro commented on #315
This sounds reasonable. Do you want to create a PR for that?

[2020-07-27 12:01] liteua commented on #315
Yes, sure ) Already done.

[2020-07-28 07:19] aqw commented on #315
This can probably be closed, as the fix was merged.

[2020-07-28 07:20] #315 closed

[2020-07-28 17:35] jribar opened #319 "MOTD Enabled prints MOTD twice on Ubuntu"
**Is your feature request related to a problem? Please describe.**
Upgraded from an older release to 9.6.0 which now disables MOTD by default. It does this by disabling the dynamic MOTD and setting `PrintMotd` to no.

When MOTD is enabled with `ssh_print_motd`, `PrintMotd` is set to yes and the dynamic MOTD is left enabled.  This results in the contents of `/etc/motd` appearing twice upon login.

[2020-08-03 19:39] rndmh3ro commented on #319
Hey @jribar, thanks for bringing this bug up. We need to fix that.
Are you up for a PR?

[2020-08-09 15:13] #319 closed

[2020-09-02 14:35] NanoPish opened #325 "variable name inconsistency: ssh / sshd"
**Describe the bug**
ssh_permit_root_login: 'no'         # sshd

**Expected behavior**
should be sshd_permit_root_login
because related to server, as comment shows

How can we transition to correct names ?
Add correct ones, copy old into new and deprecate old names, and remove old names in a future PR ?

[2020-09-02 14:36] NanoPish commented on #272
Okay, working on it

[2020-09-03 09:41] rndmh3ro commented on #325
We're in the middle of transitioning all our Ansible-roles into a collection (see https://github.com/dev-sec/ansible-os-hardening/pull/291). I guess this would be a good time to change the variable names.